Repository shiroemons/thac: changes, and which lefthook commands are due for each by the changed paths.
All: biome, check-types, lint-jsx-nesting

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json,css}"
      run: bun run check
    check-types:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun run check-types
    lint-jsx-nesting:
      glob: "apps/web/**/*.{tsx,jsx}"
      run: bun run --cwd apps/web lint:jsx-nesting

fix(deps): update daisyui and lucide-react
  apps/web/package.json
  bun.lock
Due: biome

fix(deps): update @typescript-eslint/parser
  apps/web/package.json
  bun.lock
Due: biome

fix(deps): update meilisearch to v0.55.0
  bun.lock
  packages/search/package.json
Due: biome

style: apply biome auto-fix
  apps/server/src/routes/admin/tracks/index.ts
  apps/web/src/components/admin/track-edit-dialog.tsx
  apps/web/src/components/search/AdvancedSearchModal.tsx
  apps/web/src/components/search/GenreFilter.tsx
  apps/web/src/routes/admin/_admin/tracks_.$id.tsx
  packages/search/src/transformers/track.ts
Due: biome, check-types, lint-jsx-nesting

chore: format devbox.json
  devbox.json
Due: biome

fix(deps): 依存パッケージを一括アップデート (#256)
  apps/server/package.json
  apps/server/src/routes/admin/tracks/index.ts
  apps/web/package.json
  apps/web/src/components/admin/track-edit-dialog.tsx
  apps/web/src/components/search/AdvancedSearchModal.tsx
  apps/web/src/components/search/GenreFilter.tsx
  apps/web/src/routes/admin/_admin/tracks_.$id.tsx
  bun.lock
  devbox.json
  package.json
  packages/search/package.json
  packages/search/src/transformers/track.ts
Due: biome, check-types, lint-jsx-nesting

feat: OAuth認証（Google/Discord/GitHub）とユーザー管理画面を追加
  apps/server/.env.example
  apps/web/src/components/user-menu.tsx
  apps/web/src/lib/auth-client.ts
  apps/web/src/routes/auth/callback.tsx
  apps/web/src/routes/login.tsx
  apps/web/src/routes/onboarding.tsx
  apps/web/src/routes/user/_user.tsx
  apps/web/src/routes/user/_user/profile.tsx
  apps/web/src/routes/user/_user/settings.tsx
  docs/specs/oauth-setup.md
  packages/auth/src/index.ts
  packages/db/src/schema/auth.ts
Due: biome, check-types, lint-jsx-nesting

fix(security): OAuth認証のセキュリティ強化
  apps/web/src/routes/login.tsx
  apps/web/src/routes/onboarding.tsx
  apps/web/src/routes/user/_user/profile.tsx
  packages/auth/src/index.ts
Due: biome, check-types, lint-jsx-nesting

refactor: アバター画像をOAuth自動取得に変更
  apps/web/src/routes/user/_user/profile.tsx
  docs/specs/oauth-setup.md
Due: biome, check-types, lint-jsx-nesting

fix: 開発環境でCookieが設定されない問題を修正
  packages/auth/src/index.ts
Due: biome, check-types

fix: auth-clientのbaseURL解決問題とBunバージョン不整合を修正
  apps/web/src/lib/auth-client.ts
  bun.lock
  devbox.json
  devbox.lock
  package.json
Due: biome, check-types

fix(deps): better-auth依存関係のバージョン不整合を修正
  bun.lock
Due: none

feat: OAuth認証をWeb(3000)経由でプロキシする構成に変更
  apps/web/src/components/sign-in-form.tsx
  apps/web/src/components/sign-up-form.tsx
  apps/web/src/lib/auth-client.ts
  apps/web/src/routes/api/auth.$.ts
  apps/web/src/routes/auth/callback.tsx
  apps/web/src/routes/dashboard.tsx
  apps/web/src/routes/login.tsx
  apps/web/src/routes/onboarding.tsx
  devbox.json
  process-compose.yaml
Due: biome, check-types, lint-jsx-nesting

feat: ユーザーメニューにアバターとリンクを追加
  apps/web/src/components/user-menu.tsx
Due: biome, check-types, lint-jsx-nesting

feat: ユーザー画面にシンプルなヘッダー/フッターを追加
  apps/web/src/routes/user/_user.tsx
Due: biome, check-types, lint-jsx-nesting

docs: OAuth設定ガイドをプロキシ構成に更新
  docs/specs/oauth-setup.md
Due: none

feat: OAuth認証（Google/Discord/GitHub）とユーザー管理画面を追加 (#257)
  apps/server/.env.example
  apps/web/src/components/sign-in-form.tsx
  apps/web/src/components/sign-up-form.tsx
  apps/web/src/components/user-menu.tsx
  apps/web/src/lib/auth-client.ts
  apps/web/src/routes/api/auth.$.ts
  apps/web/src/routes/auth/callback.tsx
  apps/web/src/routes/dashboard.tsx
  apps/web/src/routes/login.tsx
  apps/web/src/routes/onboarding.tsx
  apps/web/src/routes/user/_user.tsx
  apps/web/src/routes/user/_user/profile.tsx
  apps/web/src/routes/user/_user/settings.tsx
  bun.lock
  devbox.json
  devbox.lock
  docs/specs/oauth-setup.md
  package.json
  packages/auth/src/index.ts
  packages/db/src/schema/auth.ts
  process-compose.yaml
Due: biome, check-types, lint-jsx-nesting

docs: Claude Code向けドキュメントをdevbox経由のコマンド実行に統一
  .claude/CLAUDE.md
  .claude/rules/commands.md
  .claude/rules/devbox.md
  .claude/rules/workflow.md
Due: none

docs: READMEとコマンドドキュメントの整合性を修正
  .claude/rules/commands.md
  README.md
Due: none

docs: READMEを最新状態に更新
  README.md
  docker-compose.yml
Due: none

docs: steeringドキュメントをdevbox環境に同期
  .kiro/steering/meilisearch.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: none

feat: nanoidからTypeIDへ移行
  bun.lock
  package.json
  packages/db/src/utils/id.ts
Due: biome, check-types

test: ID生成テストをTypeID形式に更新
  packages/db/src/__tests__/id.test.ts
Due: biome, check-types

docs: nanoidからTypeIDへの移行をドキュメントに反映
  .kiro/specs/event-management/design.md
  .kiro/specs/event-management/research.md
  .kiro/specs/master-data-management/research.md
  .kiro/specs/public-links/design.md
  .kiro/specs/public-links/gap-analysis.md
  .kiro/specs/public-links/research.md
  .kiro/specs/release-disc-management/requirements.md
  .kiro/specs/release-disc-management/research.md
  .kiro/specs/track-management/design.md
  .kiro/specs/track-management/gap-analysis.md
  .kiro/specs/track-management/research.md
  .kiro/specs/track-relations/design.md
  .kiro/specs/track-relations/gap-analysis.md
  .kiro/specs/track-relations/requirements.md
  .kiro/specs/track-relations/research.md
  .kiro/steering/tech.md
  docs/specs/tag/database-schema.md
Due: none

refactor: 残りのnanoid使用箇所をTypeIDに移行
  apps/web/package.json
  apps/web/src/components/admin/official-links-card.tsx
  apps/web/src/lib/utils.ts
  bun.lock
  packages/db/package.json
  packages/db/src/schema/tag.ts
Due: biome, check-types, lint-jsx-nesting

feat: nanoidからTypeIDへ移行 (#259)
  .kiro/specs/event-management/design.md
  .kiro/specs/event-management/research.md
  .kiro/specs/master-data-management/research.md
  .kiro/specs/public-links/design.md
  .kiro/specs/public-links/gap-analysis.md
  .kiro/specs/public-links/research.md
  .kiro/specs/release-disc-management/requirements.md
  .kiro/specs/release-disc-management/research.md
  .kiro/specs/track-management/design.md
  .kiro/specs/track-management/gap-analysis.md
  .kiro/specs/track-management/research.md
  .kiro/specs/track-relations/design.md
  .kiro/specs/track-relations/gap-analysis.md
  .kiro/specs/track-relations/requirements.md
  .kiro/specs/track-relations/research.md
  .kiro/steering/tech.md
  apps/web/package.json
  apps/web/src/components/admin/official-links-card.tsx
  apps/web/src/lib/utils.ts
  bun.lock
  docs/specs/tag/database-schema.md
  package.json
  packages/db/package.json
  packages/db/src/__tests__/id.test.ts
  packages/db/src/schema/tag.ts
  packages/db/src/utils/id.ts
Due: biome, check-types, lint-jsx-nesting

fix: PostgreSQL移行のレビュー指摘事項を修正
  apps/server/package.json
  apps/server/src/routes/admin/export/official.ts
  apps/server/src/routes/admin/tracks/official-songs.ts
  apps/server/src/routes/public/tracks.ts
  apps/server/test/helpers/fixtures.ts
  apps/server/test/integration/admin/artist-alias-subroutes.test.ts
  apps/server/test/integration/admin/artist-aliases.test.ts
  apps/server/test/integration/admin/artist-subroutes.test.ts
  apps/server/test/integration/admin/artists.test.ts
  apps/server/test/integration/admin/circle-subroutes.test.ts
  apps/server/test/integration/admin/circles.test.ts
  apps/server/test/integration/admin/event-days.test.ts
  apps/server/test/integration/admin/events.test.ts
  apps/server/test/integration/admin/export.test.ts
  apps/server/test/integration/admin/jan-codes.test.ts
  apps/server/test/integration/admin/master.test.ts
  apps/server/test/integration/admin/official.test.ts
  apps/server/test/integration/admin/release-circles.test.ts
  apps/server/test/integration/admin/release-publications.test.ts
  apps/server/test/integration/admin/releases.test.ts
  apps/server/test/integration/admin/stats.test.ts
  apps/server/test/integration/admin/track-credit-roles.test.ts
  apps/server/test/integration/admin/track-credits.test.ts
  apps/server/test/integration/admin/track-derivations.test.ts
  apps/server/test/integration/admin/track-isrcs.test.ts
  apps/server/test/integration/admin/track-official-songs.test.ts
  apps/server/test/integration/admin/track-publications.test.ts
  apps/server/test/integration/admin/tracks.test.ts
  apps/web/src/components/admin/official-work-edit-dialog.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/head.test.ts
  apps/web/src/lib/public-api.ts
  bun.lock
  packages/db/src/schema/official.validation.ts
  packages/db/src/seed-master.ts
  packages/db/src/seed-official-links.ts
  packages/db/src/seed-official.ts
  packages/db/src/truncate-non-master.ts
Due: biome, check-types, lint-jsx-nesting

fix: PostgreSQL接続オプションとグレースフルシャットダウンを追加
  apps/server/src/index.ts
  packages/db/src/index.ts
Due: biome, check-types

docs: READMEをPostgreSQL移行に合わせて更新
  README.md
Due: none

perf: トラックのバッチ削除をN+1から一括クエリに最適化
  apps/server/src/routes/admin/tracks/index.ts
Due: biome, check-types

fix: numeric型をreal型に変更して型整合性を改善
  apps/server/src/routes/admin/export/official.ts
  apps/server/src/routes/admin/tracks/official-songs.ts
  apps/server/src/routes/public/tracks.ts
  apps/server/test/helpers/fixtures.ts
  apps/web/src/components/admin/official-work-edit-dialog.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/head.test.ts
  apps/web/src/lib/public-api.ts
  packages/db/src/schema/official.ts
  packages/db/src/schema/official.validation.ts
  packages/db/src/schema/track-relations.ts
  packages/db/src/seed-official.ts
Due: biome, check-types, lint-jsx-nesting

chore: bts.jsoncをPostgreSQL設定に更新
  bts.jsonc
Due: none

perf: レガシーインポートをバッチ処理に分割して長時間トランザクションを回避
  apps/server/src/services/legacy-import-service.test.ts
  apps/server/src/services/legacy-import-service.ts
  apps/web/src/lib/api-client.ts
Due: biome, check-types

docs: .kiro/specsドキュメントにPostgreSQL移行済み注釈を追加
  .kiro/specs/admin-detail-pages/design.md
  .kiro/specs/admin-login/design.md
  .kiro/specs/artist-circle-management/design.md
  .kiro/specs/event-management/design.md
  .kiro/specs/legacy-csv-import/design.md
  .kiro/specs/master-data-management/design.md
  .kiro/specs/official-works-songs-management/design.md
  .kiro/specs/public-links/design.md
  .kiro/specs/release-detail-circle-association/design.md
  .kiro/specs/release-disc-management/design.md
  .kiro/specs/track-management/design.md
  .kiro/specs/track-relations/design.md
Due: none

perf: devbox PostgreSQL初期化設定を最適化
  devbox.json
Due: biome

perf: truncateスクリプトをTRUNCATE CASCADEに最適化
  packages/db/src/truncate-non-master.ts
Due: biome, check-types

test: PGlite統合テストを追加してスキーマ検証を強化
  bun.lock
  packages/db/package.json
  packages/db/src/__tests__/schema-integration.test.ts
Due: biome, check-types

fix: PostgreSQL制約適用に伴うテストデータのtrackNumber重複を修正
  apps/server/test/integration/admin/artist-alias-subroutes.test.ts
  apps/server/test/integration/admin/artist-subroutes.test.ts
Due: biome, check-types

fix: docker-compose.ymlにPostgreSQLサービスを追加
  docker-compose.yml
Due: none
