Repository shiroemons/thac: changes, and which lefthook commands are due for each by the changed paths.
All: biome, check-types, lint-jsx-nesting

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json,css}"
      run: bun run check
    check-types:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun run check-types
    lint-jsx-nesting:
      glob: "apps/web/**/*.{tsx,jsx}"
      run: bun run --cwd apps/web lint:jsx-nesting

chore: WebとAPIのポート番号を入れ替え
  .claude/rules/commands.md
  .claude/rules/server.md
  .claude/rules/web.md
  Dockerfile
  Makefile
  README.md
  apps/server/.env.example
  apps/web/package.json
  apps/web/src/functions/ssr-fetcher.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/public-api.ts
  docker-compose.yml
  entrypoint.sh
Due: biome, check-types

fix: APIサーバーのポートを明示的に3001に設定
  apps/server/src/index.ts
  docker-compose.yml
Due: biome, check-types

chore: Renovate設定ファイルを追加
  renovate.json
Due: biome

chore: Renovate PRのbun.lock自動更新ワークフローを追加
  .github/workflows/renovate-lockfile.yml
Due: none

fix: ロックファイル更新後にCIを再トリガーするよう修正
  .github/workflows/renovate-lockfile.yml
Due: none

docs: CI/CDセクションをREADMEに追加
  README.md
Due: none

fix: Renovate lockfile更新の無限ループを修正
  .github/workflows/renovate-lockfile.yml
Due: none

fix: Update Lockfileをpull_request openedのみでトリガーするよう修正
  .github/workflows/renovate-lockfile.yml
Due: none

fix: Renovate lockfileワークフローをsynchronizeイベントにも対応
  .github/workflows/renovate-lockfile.yml
Due: none

fix: Renovate lockfileワークフローをsynchronizeイベントにも対応 (#198)
  .github/workflows/renovate-lockfile.yml
Due: none

fix: Renovate lockfileワークフローの無限ループを修正
  .github/workflows/renovate-lockfile.yml
Due: none

fix: Renovate lockfileワークフローの無限ループを修正 (#200)
  .github/workflows/renovate-lockfile.yml
Due: none

fix: Renovate lockfileワークフローを削除（無限ループ問題）
  .github/workflows/renovate-lockfile.yml
Due: none

chore: Renovateを削除
  renovate.json
Due: biome

feat: /update-depsスキルを追加
  .claude/commands/update-deps.md
Due: none

fix: update-depsスキルを改善
  .claude/commands/update-deps.md
Due: none

fix: update-depsスキルにベストプラクティスを適用
  .claude/commands/update-deps.md
Due: none

fix(deps): update @libsql/client to v0.17.0
  bun.lock
  package.json
Due: biome

fix(deps): update @types/bun to v1.3.6
  bun.lock
  package.json
Due: biome

fix(deps): update better-auth to v1.4.13
  bun.lock
  package.json
Due: biome

fix(deps): update dotenv to v17.2.3
  bun.lock
  package.json
Due: biome

fix(deps): update zod to v4.3.5
  bun.lock
  package.json
Due: biome

fix(deps): update tsdown to v0.19.0
  apps/server/package.json
  bun.lock
Due: biome

fix(deps): update web packages
  apps/web/package.json
  bun.lock
Due: biome

fix(deps): 依存パッケージをアップデート (#208)
  apps/server/package.json
  apps/web/package.json
  bun.lock
  package.json
Due: biome

fix: update-depsスキルをTask subagent対応に更新
  .claude/commands/update-deps.md
Due: none

fix(deps): update jsdom to v27.4.0
  apps/web/package.json
  bun.lock
Due: biome

fix(deps): update vite-tsconfig-paths to v6.0.4
  apps/web/package.json
  bun.lock
Due: biome

fix(deps): 依存パッケージをアップデート (#209)
  apps/web/package.json
  bun.lock
Due: biome

feat: SSRレスポンスにキャッシュヘッダーを追加
  apps/web/src/lib/cache-headers.ts
  apps/web/src/routes/_public/about.tsx
  apps/web/src/routes/_public/artists_.$id.tsx
  apps/web/src/routes/_public/circles_.$id.tsx
  apps/web/src/routes/_public/events_.$id.tsx
  apps/web/src/routes/_public/official-works_.$id.tsx
  apps/web/src/routes/_public/original-songs_.$id.tsx
  apps/web/src/routes/_public/privacy.tsx
  apps/web/src/routes/_public/releases_.$id.tsx
  apps/web/src/routes/_public/stats.tsx
  apps/web/src/routes/_public/tracks_.$id.tsx
  apps/web/src/routes/admin/_admin.tsx
  bun.lock
Due: biome, check-types, lint-jsx-nesting

feat: SSRレスポンスにキャッシュヘッダーを追加 (#210)
  apps/web/src/lib/cache-headers.ts
  apps/web/src/routes/_public/about.tsx
  apps/web/src/routes/_public/artists_.$id.tsx
  apps/web/src/routes/_public/circles_.$id.tsx
  apps/web/src/routes/_public/events_.$id.tsx
  apps/web/src/routes/_public/official-works_.$id.tsx
  apps/web/src/routes/_public/original-songs_.$id.tsx
  apps/web/src/routes/_public/privacy.tsx
  apps/web/src/routes/_public/releases_.$id.tsx
  apps/web/src/routes/_public/stats.tsx
  apps/web/src/routes/_public/tracks_.$id.tsx
  apps/web/src/routes/admin/_admin.tsx
  bun.lock
Due: biome, check-types, lint-jsx-nesting

chore: hono-skillプラグインを追加
  .claude/settings.json
Due: biome

chore: design-engineerプラグインを追加
  .claude/settings.json
Due: biome

feat: 管理画面サイドバーのデザインを改善
  apps/web/src/components/admin-sidebar.tsx
  apps/web/src/index.css
Due: biome, check-types, lint-jsx-nesting

feat: 管理画面サイドバーのデザインを改善 (#211)
  .claude/settings.json
  apps/web/src/components/admin-sidebar.tsx
  apps/web/src/index.css
Due: biome, check-types, lint-jsx-nesting

feat: 管理ダッシュボードをミニマルデザインに刷新
  apps/web/package.json
  apps/web/src/routes/admin/_admin/index.tsx
  bun.lock
Due: biome, check-types, lint-jsx-nesting

feat: 管理ダッシュボードをミニマルデザインに刷新 (#212)
  apps/web/package.json
  apps/web/src/routes/admin/_admin/index.tsx
  bun.lock
Due: biome, check-types, lint-jsx-nesting

feat: デザインシステム基盤を構築しUIコンポーネントを統一
  .design-engineer/system.md
  apps/web/src/components/admin-sidebar.tsx
  apps/web/src/components/admin/column-visibility-toggle.tsx
  apps/web/src/components/ui/card.tsx
Due: biome, check-types, lint-jsx-nesting

feat: デザインシステム基盤を構築しUIコンポーネントを統一 (#213)
  .design-engineer/system.md
  apps/web/src/components/admin-sidebar.tsx
  apps/web/src/components/admin/column-visibility-toggle.tsx
  apps/web/src/components/ui/card.tsx
Due: biome, check-types, lint-jsx-nesting

fix: 管理画面のデザインシステム違反を修正
  apps/web/src/components/admin/conflict-dialog.tsx
  apps/web/src/components/admin/official-links-card.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/searchable-select.tsx
  apps/web/src/routes/admin/_admin/artist-aliases.tsx
  apps/web/src/routes/admin/_admin/artist-aliases_.$id.tsx
  apps/web/src/routes/admin/_admin/artists.tsx
  apps/web/src/routes/admin/_admin/artists_.$id.tsx
  apps/web/src/routes/admin/_admin/circles.tsx
  apps/web/src/routes/admin/_admin/circles_.$id.tsx
  apps/web/src/routes/admin/_admin/event-series.tsx
  apps/web/src/routes/admin/_admin/event-series_.$id.tsx
  apps/web/src/routes/admin/_admin/events.tsx
  apps/web/src/routes/admin/_admin/events_.$id.tsx
  apps/web/src/routes/admin/_admin/import-legacy.tsx
  apps/web/src/routes/admin/_admin/index.tsx
  apps/web/src/routes/admin/_admin/master/alias-types.tsx
  apps/web/src/routes/admin/_admin/master/alias-types_.$code.tsx
  apps/web/src/routes/admin/_admin/master/credit-roles.tsx
  apps/web/src/routes/admin/_admin/master/credit-roles_.$code.tsx
  apps/web/src/routes/admin/_admin/master/official-work-categories.tsx
  apps/web/src/routes/admin/_admin/master/official-work-categories_.$code.tsx
  apps/web/src/routes/admin/_admin/master/platforms.tsx
  apps/web/src/routes/admin/_admin/master/platforms_.$code.tsx
  apps/web/src/routes/admin/_admin/official/songs.tsx
  apps/web/src/routes/admin/_admin/official/songs_.$id.tsx
  apps/web/src/routes/admin/_admin/official/works.tsx
  apps/web/src/routes/admin/_admin/official/works_.$id.tsx
  apps/web/src/routes/admin/_admin/releases.tsx
  apps/web/src/routes/admin/_admin/releases_.$id.tsx
  apps/web/src/routes/admin/_admin/tracks.tsx
  apps/web/src/routes/admin/_admin/tracks_.$id.tsx
Due: biome, check-types, lint-jsx-nesting
