Repository shiroemons/thac: changes, and which lefthook commands are due for each by the changed paths.
All: biome, check-types, lint-jsx-nesting

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json,css}"
      run: bun run check
    check-types:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun run check-types
    lint-jsx-nesting:
      glob: "apps/web/**/*.{tsx,jsx}"
      run: bun run --cwd apps/web lint:jsx-nesting

feat: 統計タブにスケルトンローディングを追加
  apps/web/src/components/public/work-stats-section.tsx
  apps/web/src/components/public/work-stats-skeleton.tsx
Due: biome, check-types, lint-jsx-nesting

feat: useDeferredValueでタブ切り替えをスムーズに
  apps/web/src/components/public/index.ts
  apps/web/src/routes/_public/artists_.$id.tsx
  apps/web/src/routes/_public/circles_.$id.tsx
  apps/web/src/routes/_public/events_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

refactor: requestAnimationFrameでタブ切り替えを遅延
  apps/web/src/routes/_public/artists_.$id.tsx
  apps/web/src/routes/_public/circles_.$id.tsx
  apps/web/src/routes/_public/events_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

feat: モバイル表示の統計グラフレイアウトを改善
  apps/web/src/components/public/work-stats-section.tsx
Due: biome, check-types, lint-jsx-nesting

refactor: daisyUIコンポーネントに統一
  apps/web/src/components/admin-header.tsx
  apps/web/src/components/admin/official-links-card.tsx
  apps/web/src/components/public/empty-state.tsx
  apps/web/src/components/public/entity-card.tsx
  apps/web/src/components/public/features-section.tsx
  apps/web/src/components/public/hero-section.tsx
  apps/web/src/components/public/index.ts
  apps/web/src/components/public/recent-releases.tsx
  apps/web/src/components/public/stats-cards.tsx
  apps/web/src/components/public/view-toggle.tsx
  apps/web/src/components/public/work-stats-section.tsx
  apps/web/src/components/search/FilterSection.tsx
  apps/web/src/components/sign-in-form.tsx
  apps/web/src/components/sign-up-form.tsx
  apps/web/src/routes/_public/search.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 管理画面にpublic画面へのリンクを追加
  apps/web/src/components/admin-navbar.tsx
Due: biome, check-types, lint-jsx-nesting

feat: トップページの統計情報を実データに変更
  apps/server/src/routes/public/index.ts
  apps/server/src/routes/public/stats.ts
  apps/server/src/utils/cache.ts
  apps/web/src/components/public/hero-section.tsx
  apps/web/src/lib/public-api.ts
  apps/web/src/routes/_public/index.tsx
  packages/db/src/index.ts
Due: biome, check-types, lint-jsx-nesting

docs: CLAUDE.mdに図解の指示を追加
  .claude/CLAUDE.md
Due: none

refactor: useEffectの不適切な使用を修正
  apps/web/src/routes/_public/search.tsx
  apps/web/src/routes/admin/_admin/releases_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

chore: useEffectアンチパターン防止策を追加
  .claude/rules/react-patterns.md
  .kiro/steering/react-patterns.md
  apps/web/eslint.config.js
  apps/web/package.json
  bun.lock
Due: biome, check-types

feat: 統計データのバックグラウンドプリフェッチを実装
  apps/web/src/components/public/work-stats-section.tsx
  apps/web/src/lib/public-query-options.ts
  apps/web/src/routes/_public/artists_.$id.tsx
  apps/web/src/routes/_public/circles_.$id.tsx
  apps/web/src/routes/_public/events_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 公開画面にTanStack Routerプリフェッチを導入
  apps/web/src/components/public/hero-section.tsx
  apps/web/src/components/public/navigation-section.tsx
  apps/web/src/components/public/public-header.tsx
  apps/web/src/router.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 公開画面のLinkコンポーネント全体にpreload属性を設定
  apps/web/src/components/public/entity-card.tsx
  apps/web/src/components/public/public-footer.tsx
  apps/web/src/components/public/public-header.tsx
  apps/web/src/components/public/recent-releases.tsx
  apps/web/src/components/public/stats-cards.tsx
  apps/web/src/routes/_public/about.tsx
  apps/web/src/routes/_public/artists.tsx
  apps/web/src/routes/_public/artists_.$id.tsx
  apps/web/src/routes/_public/circles.tsx
  apps/web/src/routes/_public/circles_.$id.tsx
  apps/web/src/routes/_public/events.tsx
  apps/web/src/routes/_public/events_.$id.tsx
  apps/web/src/routes/_public/official-works.tsx
  apps/web/src/routes/_public/official-works_.$id.tsx
  apps/web/src/routes/_public/original-songs.tsx
  apps/web/src/routes/_public/original-songs_.$id.tsx
  apps/web/src/routes/_public/privacy.tsx
  apps/web/src/routes/_public/releases_.$id.tsx
  apps/web/src/routes/_public/search.tsx
  apps/web/src/routes/_public/stats.tsx
  apps/web/src/routes/_public/tracks_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 管理画面のCRUD操作にTanStack Query useMutationを導入
  apps/web/src/components/admin/artist-edit-dialog.tsx
  apps/web/src/components/admin/circle-edit-dialog.tsx
  apps/web/src/components/admin/release-edit-dialog.tsx
  apps/web/src/lib/mutation-options.ts
  apps/web/src/routes/admin/_admin/artists.tsx
  apps/web/src/routes/admin/_admin/circles.tsx
  apps/web/src/routes/admin/_admin/releases.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 管理画面の追加ファイルにuseMutation移行を拡大
  apps/web/src/lib/mutation-options.ts
  apps/web/src/routes/admin/_admin/artist-aliases.tsx
  apps/web/src/routes/admin/_admin/artist-aliases_.$id.tsx
  apps/web/src/routes/admin/_admin/artists_.$id.tsx
  apps/web/src/routes/admin/_admin/event-series.tsx
  apps/web/src/routes/admin/_admin/event-series_.$id.tsx
  apps/web/src/routes/admin/_admin/events.tsx
  apps/web/src/routes/admin/_admin/master/alias-types.tsx
  apps/web/src/routes/admin/_admin/master/alias-types_.$code.tsx
  apps/web/src/routes/admin/_admin/master/credit-roles.tsx
  apps/web/src/routes/admin/_admin/master/credit-roles_.$code.tsx
  apps/web/src/routes/admin/_admin/master/official-work-categories.tsx
  apps/web/src/routes/admin/_admin/master/official-work-categories_.$code.tsx
  apps/web/src/routes/admin/_admin/master/platforms.tsx
  apps/web/src/routes/admin/_admin/master/platforms_.$code.tsx
  apps/web/src/routes/admin/_admin/official/songs.tsx
  apps/web/src/routes/admin/_admin/official/works.tsx
  apps/web/src/routes/admin/_admin/tracks.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 管理画面詳細ページのCRUD操作をuseMutationに移行
  apps/web/src/routes/admin/_admin/circles_.$id.tsx
  apps/web/src/routes/admin/_admin/events_.$id.tsx
  apps/web/src/routes/admin/_admin/releases.tsx
Due: biome, check-types, lint-jsx-nesting

feat: releases_.$id.tsxとtracks_.$id.tsxのuseMutation移行を完了
  apps/web/src/lib/mutation-options.ts
  apps/web/src/routes/admin/_admin/releases_.$id.tsx
  apps/web/src/routes/admin/_admin/tracks_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

feat: reorderとbatchDelete操作のuseMutation移行を完了
  apps/web/src/lib/mutation-options.ts
  apps/web/src/routes/admin/_admin/artist-aliases.tsx
  apps/web/src/routes/admin/_admin/event-series.tsx
  apps/web/src/routes/admin/_admin/master/alias-types.tsx
  apps/web/src/routes/admin/_admin/master/credit-roles.tsx
  apps/web/src/routes/admin/_admin/master/official-work-categories.tsx
  apps/web/src/routes/admin/_admin/master/platforms.tsx
  apps/web/src/routes/admin/_admin/tracks.tsx
Due: biome, check-types, lint-jsx-nesting

test: mutation-options.tsの包括的なユニットテストを追加
  apps/web/src/lib/mutation-options.test.ts
Due: biome, check-types

feat: 編集ダイアログのuseMutation移行を完了
  apps/web/src/components/admin/alias-type-edit-dialog.tsx
  apps/web/src/components/admin/artist-alias-edit-dialog.tsx
  apps/web/src/components/admin/credit-role-edit-dialog.tsx
  apps/web/src/components/admin/event-edit-dialog.tsx
  apps/web/src/components/admin/event-series-edit-dialog.tsx
  apps/web/src/components/admin/official-song-edit-dialog.tsx
  apps/web/src/components/admin/official-work-category-edit-dialog.tsx
  apps/web/src/components/admin/official-work-edit-dialog.tsx
  apps/web/src/components/admin/platform-edit-dialog.tsx
  apps/web/src/components/admin/track-edit-dialog.tsx
  apps/web/src/lib/mutation-options.test.ts
Due: biome, check-types, lint-jsx-nesting

fix: useEffect依存配列からmutation.resetを削除
  apps/web/src/components/admin/alias-type-edit-dialog.tsx
  apps/web/src/components/admin/artist-alias-edit-dialog.tsx
  apps/web/src/components/admin/artist-edit-dialog.tsx
  apps/web/src/components/admin/circle-edit-dialog.tsx
  apps/web/src/components/admin/credit-role-edit-dialog.tsx
  apps/web/src/components/admin/event-edit-dialog.tsx
  apps/web/src/components/admin/event-series-edit-dialog.tsx
  apps/web/src/components/admin/official-song-edit-dialog.tsx
  apps/web/src/components/admin/official-work-category-edit-dialog.tsx
  apps/web/src/components/admin/official-work-edit-dialog.tsx
  apps/web/src/components/admin/platform-edit-dialog.tsx
  apps/web/src/components/admin/release-edit-dialog.tsx
  apps/web/src/components/admin/track-edit-dialog.tsx
Due: biome, check-types, lint-jsx-nesting

feat: Route-level error components導入
  apps/web/src/components/admin-error-boundary.tsx
  apps/web/src/components/public-error-boundary.tsx
  apps/web/src/routes/_public.tsx
  apps/web/src/routes/admin/_admin.tsx
Due: biome, check-types, lint-jsx-nesting

test: エラーバウンダリコンポーネントのユニットテストを追加
  apps/web/src/components/admin-error-boundary.test.tsx
  apps/web/src/components/public-error-boundary.test.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 公開詳細ページにOpenGraphメタタグを追加
  apps/web/src/lib/head.test.ts
  apps/web/src/lib/head.ts
  apps/web/src/routes/_public/artists_.$id.tsx
  apps/web/src/routes/_public/circles_.$id.tsx
  apps/web/src/routes/_public/events_.$id.tsx
  apps/web/src/routes/_public/official-works_.$id.tsx
  apps/web/src/routes/_public/original-songs_.$id.tsx
  apps/web/src/routes/_public/releases_.$id.tsx
  apps/web/src/routes/_public/tracks_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

feat: artistMutations.updateにOptimistic updatesを実装
  apps/web/src/lib/mutation-options.test.ts
  apps/web/src/lib/mutation-options.ts
Due: biome, check-types

feat: 全エンティティにOptimistic updatesを実装
  apps/web/src/components/admin/artist-alias-edit-dialog.tsx
  apps/web/src/components/admin/release-edit-dialog.tsx
  apps/web/src/lib/mutation-options.test.ts
  apps/web/src/lib/mutation-options.ts
  apps/web/src/lib/utils.ts
  apps/web/src/routes/admin/_admin/circles.tsx
  apps/web/src/routes/admin/_admin/circles_.$id.tsx
  apps/web/src/routes/admin/_admin/event-series_.$id.tsx
  apps/web/src/routes/admin/_admin/events.tsx
  apps/web/src/routes/admin/_admin/events_.$id.tsx
  apps/web/src/routes/admin/_admin/releases_.$id.tsx
  apps/web/src/routes/admin/_admin/tracks_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 全編集ダイアログにRoute blockers（未保存変更保護）を実装
  apps/web/src/components/admin/alias-type-edit-dialog.tsx
  apps/web/src/components/admin/artist-alias-edit-dialog.tsx
  apps/web/src/components/admin/artist-edit-dialog.tsx
  apps/web/src/components/admin/circle-edit-dialog.tsx
  apps/web/src/components/admin/credit-role-edit-dialog.tsx
  apps/web/src/components/admin/event-edit-dialog.tsx
  apps/web/src/components/admin/event-series-edit-dialog.tsx
  apps/web/src/components/admin/official-song-edit-dialog.tsx
  apps/web/src/components/admin/official-work-category-edit-dialog.tsx
  apps/web/src/components/admin/official-work-edit-dialog.tsx
  apps/web/src/components/admin/platform-edit-dialog.tsx
  apps/web/src/components/admin/release-edit-dialog.tsx
  apps/web/src/components/admin/track-edit-dialog.tsx
  apps/web/src/hooks/use-form-dirty.ts
  apps/web/src/hooks/use-unsaved-changes-guard.ts
Due: biome, check-types, lint-jsx-nesting

test: useFormDirtyとuseUnsavedChangesGuardのテストを追加
  apps/web/src/hooks/use-form-dirty.test.ts
  apps/web/src/hooks/use-unsaved-changes-guard.test.ts
Due: biome, check-types

test: useBlockerのshouldBlockFnテストを追加（100%カバレッジ達成）
  apps/web/src/hooks/use-unsaved-changes-guard.test.ts
Due: biome, check-types

feat: TanStack Query selectオプションでデータ変換をクエリレベルに移行
  apps/web/src/components/admin/release-edit-dialog.tsx
  apps/web/src/components/public/work-stats-section.tsx
  apps/web/src/lib/query-options.test.ts
  apps/web/src/lib/query-options.ts
  apps/web/src/lib/transformers/chart-data.test.ts
  apps/web/src/lib/transformers/chart-data.ts
  apps/web/src/routes/admin/_admin/circles.tsx
Due: biome, check-types, lint-jsx-nesting

fix: テスト環境でのモジュール解決エラーを修正
  apps/web/src/lib/query-options.test.ts
  apps/web/src/lib/query-options.ts
  apps/web/src/lib/select-helpers.ts
  apps/web/src/lib/transformers/chart-data.test.ts
Due: biome, check-types

feat: useInfiniteQueryと無限スクロールを導入
  apps/web/src/components/ui/infinite-scroll.test.tsx
  apps/web/src/components/ui/infinite-scroll.tsx
  apps/web/src/hooks/use-unsaved-changes-guard.test.ts
  apps/web/src/lib/infinite-query-options.test.ts
  apps/web/src/lib/query-options.ts
  apps/web/src/lib/transformers/chart-data.test.ts
  apps/web/src/routes/admin/_admin/artists.tsx
  apps/web/src/routes/admin/_admin/circles.tsx
Due: biome, check-types, lint-jsx-nesting

fix: サークル一覧のデフォルトソート順を名前昇順に変更
  apps/web/src/lib/public-query-options.ts
Due: biome, check-types

feat: アーティスト・サークル一覧を無限スクロールに移行
  apps/server/src/routes/public/circles.ts
  apps/web/src/lib/public-query-options.test.ts
  apps/web/src/routes/_public/artists.tsx
  apps/web/src/routes/_public/circles.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 統計ページ用APIエンドポイントとフロントエンド基盤を追加
  apps/server/src/routes/public/stats.ts
  apps/server/src/utils/cache.ts
  apps/web/src/components/public/hero-section.tsx
  apps/web/src/components/public/stats-skeleton.tsx
  apps/web/src/lib/public-api.ts
  apps/web/src/lib/public-query-options.ts
Due: biome, check-types, lint-jsx-nesting

feat: 統計ページにSuspenseとストリーミングを導入
  apps/web/src/routes/_public/stats.tsx
Due: biome, check-types, lint-jsx-nesting

feat: ランキング表示を改善（メダル・同順位対応・除外条件追加）
  apps/server/src/routes/public/stats.ts
  apps/web/src/routes/_public/stats.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 統計ページのランキングセクション名称を変更
  apps/web/src/routes/_public/stats.tsx
Due: biome, check-types, lint-jsx-nesting

fix: 統計ページでサークル未紐付けリリースが表示エラーになる問題を修正
  apps/server/src/routes/public/stats.ts
  apps/web/src/lib/public-api.ts
  apps/web/src/routes/_public/stats.tsx
Due: biome, check-types, lint-jsx-nesting

chore: セキュリティ脆弱性の修正と依存関係の更新
  apps/server/package.json
  apps/web/package.json
  bun.lock
  package.json
Due: biome
