Repository shiroemons/thac: changes, and which lefthook commands are due for each by the changed paths.
All: biome, check-types, lint-jsx-nesting

biome:
  run: bun run check

check-types:
  run: bun run check-types

lint-jsx-nesting:
  run: bun run --cwd apps/web lint:jsx-nesting

feat(server): add /api/user namespace and album-requests endpoints
  apps/server/src/index.ts
  apps/server/src/middleware/user-auth.ts
  apps/server/src/routes/admin/album-requests/album-requests.ts
  apps/server/src/routes/admin/album-requests/index.ts
  apps/server/src/routes/admin/index.ts
  apps/server/src/routes/user/album-requests.ts
  apps/server/src/routes/user/index.ts
Due: biome, check-types

test(server): add album-requests API integration tests
  apps/server/test/helpers/fixtures.ts
  apps/server/test/helpers/test-app.ts
  apps/server/test/helpers/test-auth.ts
  apps/server/test/helpers/test-db.ts
  apps/server/test/integration/admin/album-requests.test.ts
  apps/server/test/integration/user/album-requests.test.ts
Due: biome, check-types

test(server): add album-requests API integration tests
  apps/server/test/integration/admin/album-requests.test.ts
Due: biome, check-types

feat(web): add admin album-requests review UI
  apps/web/src/components/admin-sidebar.tsx
  apps/web/src/components/admin/album-request-status-badge.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/mutation-options.ts
  apps/web/src/lib/query-options.ts
  apps/web/src/routes/admin/_admin/album-requests.tsx
  apps/web/src/routes/admin/_admin/album-requests_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

feat(web): add /user/album-requests submission and listing pages
  apps/web/src/components/album-request-form.tsx
  apps/web/src/components/album-request/reference-url-list-input.tsx
  apps/web/src/components/ui/searchable-select.tsx
  apps/web/src/components/user-menu.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/mutation-options.ts
  apps/web/src/lib/query-options.ts
  apps/web/src/routes/user/album-requests.new.tsx
  apps/web/src/routes/user/album-requests.tsx
Due: biome, check-types, lint-jsx-nesting

fix(server): アルバム申請APIのレスポンス形状改善と楽観的ロック強化
  apps/server/src/middleware/user-auth.ts
  apps/server/src/routes/admin/album-requests/album-requests.ts
  apps/server/src/routes/user/album-requests.ts
  apps/server/test/integration/admin/album-requests.test.ts
Due: biome, check-types

fix(web): 管理画面アルバム申請一覧のナビゲーションとレスポンス型を修正
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/query-options.ts
  apps/web/src/routes/admin/_admin/album-requests.tsx
Due: biome, check-types, lint-jsx-nesting

refactor(web): バリデーション共有とフォーム送信フィードバックを追加
  apps/web/src/components/album-request-form.tsx
  apps/web/src/routes/user/album-requests.new.tsx
  packages/db/package.json
Due: biome, check-types, lint-jsx-nesting

fix(web): /user/album-requests/new を flat route に変更
  apps/web/src/routes/user/album-requests_.new.tsx
Due: biome, check-types, lint-jsx-nesting

fix(web): 管理画面アルバム申請詳細の Hydration mismatch を修正
  apps/web/src/routes/admin/_admin/album-requests_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

feat: アルバム情報提供と管理者承認フローを追加 (#283)
  apps/server/src/index.ts
  apps/server/src/middleware/user-auth.ts
  apps/server/src/routes/admin/album-requests/album-requests.ts
  apps/server/src/routes/admin/album-requests/index.ts
  apps/server/src/routes/admin/index.ts
  apps/server/src/routes/user/album-requests.ts
  apps/server/src/routes/user/index.ts
  apps/server/test/helpers/fixtures.ts
  apps/server/test/helpers/test-app.ts
  apps/server/test/helpers/test-auth.ts
  apps/server/test/helpers/test-db.ts
  apps/server/test/integration/admin/album-requests.test.ts
  apps/server/test/integration/user/album-requests.test.ts
  apps/web/src/components/admin-sidebar.tsx
  apps/web/src/components/admin/album-request-status-badge.tsx
  apps/web/src/components/album-request-form.tsx
  apps/web/src/components/album-request/reference-url-list-input.tsx
  apps/web/src/components/ui/searchable-select.tsx
  apps/web/src/components/user-menu.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/mutation-options.ts
  apps/web/src/lib/query-options.ts
  apps/web/src/routes/admin/_admin/album-requests.tsx
  apps/web/src/routes/admin/_admin/album-requests_.$id.tsx
  apps/web/src/routes/user/album-requests.tsx
  apps/web/src/routes/user/album-requests_.new.tsx
  packages/db/package.json
  packages/db/src/migrations/0004_great_beast.sql
  packages/db/src/migrations/meta/0004_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema/album-request.ts
  packages/db/src/schema/album-request.validation.ts
  packages/db/src/schema/index.ts
  packages/db/src/truncate-non-master.ts
  packages/db/src/utils/id.ts
Due: biome, check-types, lint-jsx-nesting

docs: ユーザー機能拡充の全体設計仕様書を追加
  docs/specs/user-features/README.md
Due: none

docs: ユーザー機能拡充の全体設計仕様書を追加 (#284)
  docs/specs/user-features/README.md
Due: none

chore: design-engineerプラグインを無効化
  .claude/settings.json
Due: biome

chore: docs限定PRでCIを空回りさせない構成に変更
  .github/workflows/ci-docs.yml
  .github/workflows/ci.yml
Due: none

chore: docs限定PRでCIを空回りさせない構成に変更 (#285)
  .github/workflows/ci-docs.yml
  .github/workflows/ci.yml
Due: none

chore: remove remaining Bun references
  .claude/rules/branching.md
  .claude/rules/server.md
  .claude/rules/tech-stack.md
  .claude/steering/product.md
  .claude/steering/ssr-patterns.md
  .claude/steering/tech.md
  .github/workflows/ci.yml
  docs/specs/user-features/README.md
  packages/auth/.gitignore
  packages/db/.gitignore
Due: none

feat: ユーザーコレクションのDBスキーマを追加
  packages/db/package.json
  packages/db/src/migrations/0005_wakeful_clint_barton.sql
  packages/db/src/migrations/meta/0005_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema/index.ts
  packages/db/src/schema/user-collection.ts
  packages/db/src/schema/user-collection.validation.ts
  packages/db/src/utils/id.ts
  pnpm-lock.yaml
Due: biome, check-types

feat: お気に入りショートカットAPIを追加
  apps/server/src/constants/error-messages.ts
  apps/server/src/routes/user/index.ts
  apps/server/src/routes/user/likes.ts
Due: biome, check-types

feat: ユーザーコレクションAPIを追加
  apps/server/src/constants/error-messages.ts
  apps/server/src/routes/user/collections.ts
  apps/server/src/routes/user/index.ts
Due: biome, check-types

feat: 公開コレクションAPIを追加
  apps/server/src/routes/public/collections.ts
  apps/server/src/routes/public/index.ts
  apps/server/src/routes/user/collections.ts
  apps/server/src/utils/collection-items-loader.ts
Due: biome, check-types

feat: コレクションUI共通基盤を追加
  apps/web/package.json
  apps/web/src/components/user/add-to-collection-dropdown.tsx
  apps/web/src/components/user/like-button.tsx
  apps/web/src/components/user/sortable-collection-items.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/user-collections-query-options.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, check-types, lint-jsx-nesting

feat: 公開コレクション閲覧ページを実装
  apps/server/src/routes/public/collections.ts
  apps/web/src/lib/public-api.ts
  apps/web/src/lib/public-collections-query-options.ts
  apps/web/src/routes/_public/collections_.$shortId.tsx
Due: biome, check-types, lint-jsx-nesting

feat: コレクション機能のUI/UX改善とバグ修正
  apps/server/src/routes/user/collections.ts
  apps/web/src/components/admin/data-table-action-bar.tsx
  apps/web/src/components/public/entity-detail-header.tsx
  apps/web/src/components/public/public-header.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/toast.tsx
  apps/web/src/components/user-menu.tsx
  apps/web/src/components/user/add-to-collection-dropdown.tsx
  apps/web/src/components/user/floating-like-actions.tsx
  apps/web/src/components/user/like-button.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/user-collections-query-options.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/_public/circles_.$id.tsx
  apps/web/src/routes/_public/releases_.$id.tsx
  apps/web/src/routes/_public/tracks_.$id.tsx
  apps/web/src/routes/user/_user.tsx
  apps/web/src/routes/user/_user/collections.tsx
  apps/web/src/routes/user/_user/collections_.$id.tsx
  apps/web/src/routes/user/_user/likes.tsx
Due: biome, check-types, lint-jsx-nesting

feat: itemType の null 救済とカードバッジ折り返し対策
  apps/server/src/routes/user/collections.ts
  apps/web/src/components/user/item-type-badge.tsx
  apps/web/src/components/user/visibility-badge.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/routes/user/_user/collections.tsx
  apps/web/src/routes/user/_user/collections_.$id.tsx
  packages/db/src/schema/user-collection.validation.ts
Due: biome, check-types, lint-jsx-nesting

feat: コレクションの公開状態バッジとURLコピー機能を追加
  apps/web/src/components/user/collection-url-copy.tsx
  apps/web/src/components/user/visibility-badge.tsx
  apps/web/src/routes/user/_user/collections.tsx
  apps/web/src/routes/user/_user/collections_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

feat: コレクション管理画面とDnD並び替えを追加
  apps/web/src/routes/user/_user.tsx
  apps/web/src/routes/user/_user/collections.tsx
  apps/web/src/routes/user/_user/collections_.$id.tsx
  apps/web/src/routes/user/_user/collections_.new.tsx
  apps/web/src/routes/user/_user/likes.tsx
Due: biome, check-types, lint-jsx-nesting

fix: コレクション種別バッジを共通化し空状態メッセージを種別連動に
  apps/web/src/components/user/item-type-badge.tsx
  apps/web/src/routes/_public/collections_.$shortId.tsx
  apps/web/src/routes/user/_user/collections.tsx
  apps/web/src/routes/user/_user/collections_.$id.tsx
  apps/web/src/routes/user/_user/likes.tsx
Due: biome, check-types, lint-jsx-nesting

feat: コレクション一覧に絞り込み機能とマイページ幅を拡張
  apps/web/src/routes/user/_user.tsx
  apps/web/src/routes/user/_user/collections.tsx
Due: biome, check-types, lint-jsx-nesting

feat: コレクションに種別(itemType)を導入しアーティスト対応を追加
  apps/server/src/routes/public/collections.ts
  apps/server/src/routes/user/collections.ts
  apps/server/src/routes/user/likes.ts
  apps/server/src/utils/collection-items-loader.ts
  apps/web/src/components/user/add-to-collection-dropdown.tsx
  apps/web/src/components/user/floating-like-actions.tsx
  apps/web/src/components/user/like-button.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/public-api.ts
  apps/web/src/lib/user-collections-query-options.ts
  apps/web/src/routes/_public/artists_.$id.tsx
  apps/web/src/routes/_public/collections_.$shortId.tsx
  apps/web/src/routes/user/_user/collections.tsx
  apps/web/src/routes/user/_user/collections_.$id.tsx
  apps/web/src/routes/user/_user/collections_.new.tsx
  apps/web/src/routes/user/_user/likes.tsx
  packages/db/src/migrations/0006_organic_epoch.sql
  packages/db/src/migrations/meta/0006_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema/user-collection.ts
  packages/db/src/schema/user-collection.validation.ts
Due: biome, check-types, lint-jsx-nesting

feat: エンティティ詳細ページに♥ボタンとコレクション追加UIを設置
  apps/web/src/components/user/like-actions.tsx
  apps/web/src/routes/_public/circles_.$id.tsx
  apps/web/src/routes/_public/releases_.$id.tsx
  apps/web/src/routes/_public/tracks_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

chore(deps): JavaScript依存関係を推奨版へ更新
  apps/server/package.json
  apps/server/tsconfig.json
  apps/server/tsdown.config.ts
  apps/web/package.json
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  biome.json
  package.json
  packages/auth/package.json
  packages/auth/tsconfig.json
  packages/db/package.json
  packages/db/tsconfig.json
  packages/search/package.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, check-types

chore(toolchain): 実行環境とCIを推奨版へ更新
  .dockerignore
  .github/workflows/ci.yml
  Dockerfile
  devbox.json
  devbox.lock
  docker-compose.yml
Due: biome

fix(web): HTMLセマンティクスの検証エラーを修正
  apps/web/.markuplintrc
  apps/web/src/components/admin/tag-management-dialog.tsx
  apps/web/src/components/public/embeds/soundcloud-embed.tsx
  apps/web/src/components/public/entity-card.tsx
  apps/web/src/components/search/ArtistRoleFilter.tsx
  apps/web/src/components/search/CircleFilter.tsx
  apps/web/src/components/search/DateRangeFilter.tsx
  apps/web/src/components/search/OriginalSongFilter.tsx
  apps/web/src/components/search/TagFilter.tsx
  apps/web/src/components/user-menu.tsx
  apps/web/src/routes/_public/events.tsx
  apps/web/src/routes/admin/_admin/import-legacy.tsx
  apps/web/src/routes/admin/_admin/tags.tsx
  apps/web/src/routes/admin/_admin/tags_.$id.tsx
  apps/web/src/routes/user/_user/profile.tsx
Due: biome, check-types, lint-jsx-nesting

docs(meilisearch): 1.51移行手順と検証結果を記録
  .claude/steering/meilisearch.md
Due: none

chore: miseとTaskへ開発環境を移行
  .gitignore
  Makefile
  Taskfile.yml
  devbox.json
  devbox.lock
  lefthook.yml
  mise.lock
  mise.toml
  package.json
  process-compose.yaml
  scripts/mise/load-devbox.sh
  scripts/tasks/docker-run.sh
  scripts/tasks/ensure-postgres.sh
  scripts/tasks/init-postgres.sh
  scripts/tasks/services.sh
  scripts/tasks/stop-app.sh
  scripts/tasks/worktree-dev.sh
  taskfiles/app.yml
  taskfiles/db.yml
  taskfiles/docker.yml
  taskfiles/services.yml
  taskfiles/worktree.yml
Due: biome

ci: Task経由の検証に統一
  .github/workflows/ci.yml
Due: none

docs: 開発環境とGit運用ルールを更新
  .claude/CLAUDE.md
  .claude/rules/branching.md
  .claude/rules/commands.md
  .claude/rules/db.md
  .claude/rules/devbox.md
  .claude/rules/workflow.md
  .claude/skills/update-meilisearch/SKILL.md
  .claude/skills/update-meilisearch/references/troubleshooting.md
  .claude/skills/update-meilisearch/references/upgrade-workarounds.md
  .claude/skills/update-meilisearch/references/verification.md
  .claude/skills/worktree/SKILL.md
  .claude/steering/meilisearch.md
  .claude/steering/tech.md
  AGENTS.md
  README.md
  docs/legacy-csv-import-plan.md
  docs/phase5-dialog-conversion.md
  docs/specs/better-auth/README.md
  docs/specs/genre/README.md
  docs/specs/tag/database-schema.md
Due: none

docs: Devboxの適用範囲を明確化
  .claude/CLAUDE.md
  .claude/rules/commands.md
  .claude/rules/devbox.md
  AGENTS.md
  README.md
Due: none

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,css}
  check-types: any of: *.{js,ts,jsx,tsx}
  lint-jsx-nesting: any of: apps/web/**/*.{tsx,jsx}
