Repository shiroemons/thac: changes, and which lefthook commands are due for each by the changed paths.
All: biome, check-types, lint-jsx-nesting

biome:
  run: bun run check

check-types:
  run: bun run check-types

lint-jsx-nesting:
  run: bun run --cwd apps/web lint:jsx-nesting

fix: レガシーCSVインポートの2回目インポートで重複レコードが作成されるバグを修正
  apps/server/src/services/legacy-import-service.ts
Due: biome, check-types

feat: レガシーCSVインポートにイベントマッピングステップを追加
  apps/server/src/routes/admin/import/legacy.ts
  apps/server/src/services/legacy-import-service.ts
  apps/server/src/utils/name-utils.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/routes/admin/_admin/import-legacy.tsx
Due: biome, check-types, lint-jsx-nesting

refactor: レガシーCSVインポートのステップ改善とイベントマッピング機能追加 (#262)
  apps/server/src/routes/admin/import/legacy.ts
  apps/server/src/services/legacy-import-service.ts
  apps/server/src/utils/name-utils.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/event-name-parser.ts
  apps/web/src/routes/admin/_admin/import-legacy.tsx
Due: biome, check-types, lint-jsx-nesting

improve: サービス管理コマンドに状態チェックとポート情報を追加
  Makefile
  devbox.json
Due: biome

fix: BiomeのVCS統合を有効化してnix storeのPermission deniedエラーを解消
  biome.json
Due: biome

feat: レガシーCSVインポート後にMeilisearchへ自動同期
  apps/server/src/services/legacy-import-service.test.ts
  apps/server/src/services/legacy-import-service.ts
  packages/search/src/client.ts
  packages/search/src/hooks.ts
  packages/search/src/transformers/track.ts
Due: biome, check-types

fix: フロントエンドにsearch_syncステージのUI定義を追加
  apps/web/src/lib/api-client.ts
  apps/web/src/routes/admin/_admin/import-legacy.tsx
Due: biome, check-types, lint-jsx-nesting

feat: レガシーCSVインポート後にMeilisearch検索インデックスを自動同期 (#263)
  apps/server/src/services/legacy-import-service.test.ts
  apps/server/src/services/legacy-import-service.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/routes/admin/_admin/import-legacy.tsx
  packages/search/src/client.ts
  packages/search/src/hooks.ts
  packages/search/src/transformers/track.ts
Due: biome, check-types, lint-jsx-nesting

fix: 波ダッシュ/全角チルダのUnicode不一致による原曲マッピング失敗を修正
  apps/server/src/services/song-matcher-service.ts
  apps/server/src/utils/name-utils.test.ts
  apps/server/src/utils/name-utils.ts
  apps/server/src/utils/song-matcher.test.ts
  apps/server/src/utils/song-matcher.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/routes/admin/_admin/import-legacy.tsx
  packages/db/src/data/official_songs.tsv
Due: biome, check-types, lint-jsx-nesting

fix: レビュー指摘の修正（型定義・フィルター・TSV typo）
  apps/web/src/lib/api-client.ts
  apps/web/src/routes/admin/_admin/import-legacy.tsx
  packages/db/src/data/official_songs.tsv
Due: biome, check-types, lint-jsx-nesting

fix: チルダ正規化を双方向に対応（U+FF5E→U+301Cの逆方向も検索）
  apps/server/src/services/song-matcher-service.ts
  apps/server/src/utils/name-utils.test.ts
  apps/server/src/utils/name-utils.ts
  apps/server/src/utils/song-matcher.test.ts
  apps/server/src/utils/song-matcher.ts
Due: biome, check-types

feat: 未マッピング曲にラジオボタンUIを追加（その他登録/原曲選択の切り替え）
  apps/web/src/components/ui/searchable-select.tsx
  apps/web/src/routes/admin/_admin/import-legacy.tsx
Due: biome, check-types, lint-jsx-nesting

fix: 波ダッシュ/全角チルダの正規化と未マッピング曲のUI改善 (#264)
  apps/server/src/services/song-matcher-service.ts
  apps/server/src/utils/name-utils.test.ts
  apps/server/src/utils/name-utils.ts
  apps/server/src/utils/song-matcher.test.ts
  apps/server/src/utils/song-matcher.ts
  apps/web/src/components/ui/searchable-select.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/routes/admin/_admin/import-legacy.tsx
  packages/db/src/data/official_songs.tsv
Due: biome, check-types, lint-jsx-nesting

feat: プロフィールページの名前をインライン編集に変更
  apps/web/src/routes/user/_user/profile.tsx
Due: biome, check-types, lint-jsx-nesting

feat: プロフィールページの名前をインライン編集に変更 (#265)
  apps/web/src/routes/user/_user/profile.tsx
Due: biome, check-types, lint-jsx-nesting

fix: 公開統計APIのpg_class.reltuplesを正確なCOUNT(*)に置換
  .claude/rules/db-queries.md
  apps/server/src/routes/public/stats.ts
Due: biome, check-types

fix: 公開統計APIのpg_class.reltuplesを正確なCOUNT(*)に置換 (#266)
  .claude/rules/db-queries.md
  apps/server/src/routes/public/stats.ts
Due: biome, check-types

fix: 最近の更新テーブルでサークル名が表示されない問題を修正
  apps/web/src/lib/public-api.ts
  apps/web/src/routes/_public/stats.tsx
Due: biome, check-types, lint-jsx-nesting

fix: 最近の更新テーブルの日時表示をJST日付形式に変換
  apps/web/src/routes/_public/stats.tsx
Due: biome, check-types, lint-jsx-nesting

fix: 最近の更新テーブルのサークル表示と日時フォーマットを修正 (#267)
  apps/web/src/lib/public-api.ts
  apps/web/src/routes/_public/stats.tsx
Due: biome, check-types, lint-jsx-nesting

chore: git-wtによるワークツリーワークフローを追加
  .claude/rules/branching.md
  .claude/rules/workflow.md
  .claude/skills/worktree/SKILL.md
  .gitignore
Due: none

chore: git-wtによるワークツリーワークフローを追加 (#268)
  .claude/rules/branching.md
  .claude/rules/workflow.md
  .claude/skills/worktree/SKILL.md
  .gitignore
Due: none

docs: ブランチ運用ルールのフロー優先順位を明確化
  .claude/rules/branching.md
Due: none

docs: PR作成後のフローを追記
  .claude/rules/branching.md
Due: none

fix: ドキュメントのみのPRでもCIステータスを報告するように修正
  .github/workflows/ci.yml
Due: none

fix: CI paths-filterの除外に.github/**を追加
  .github/workflows/ci.yml
Due: none

docs: ブランチ運用ルールのフロー優先順位を明確化 (#269)
  .claude/rules/branching.md
  .github/workflows/ci.yml
Due: none

docs: スカッシュマージ時のworktreeクリーンアップ手順を追記
  .claude/rules/branching.md
Due: none

docs: スカッシュマージ時のworktreeクリーンアップ手順を追記 (#270)
  .claude/rules/branching.md
Due: none

fix: worktreeスキルとブランチルールの削除コマンドをgit wt -Dに統一
  .claude/rules/branching.md
  .claude/skills/worktree/SKILL.md
Due: none

fix: worktreeスキルとブランチルールの削除コマンドをgit wt -Dに統一 (#271)
  .claude/rules/branching.md
  .claude/skills/worktree/SKILL.md
Due: none

chore: Meilisearchをv1.35.0にアップグレード
  .kiro/steering/meilisearch.md
  devbox.json
  devbox.lock
  docker-compose.yml
Due: biome

docs: Meilisearchアップデートスキルをdevbox対応に更新
  .claude/skills/update-meilisearch/SKILL.md
Due: none

chore: Meilisearchをv1.35.0にアップグレード (#272)
  .claude/skills/update-meilisearch/SKILL.md
  .kiro/steering/meilisearch.md
  devbox.json
  devbox.lock
  docker-compose.yml
Due: biome

docs: Meilisearch再インデックス手順をAPI経由に修正
  .claude/rules/commands.md
Due: none

refactor: update-meilisearchスキルをProgressive Disclosure構造にリファクタリング
  .claude/skills/update-meilisearch/SKILL.md
  .claude/skills/update-meilisearch/references/backup-restore.md
  .claude/skills/update-meilisearch/references/troubleshooting.md
  .claude/skills/update-meilisearch/references/upgrade-workarounds.md
  .claude/skills/update-meilisearch/references/verification.md
Due: none

refactor: update-meilisearchスキルをProgressive Disclosure構造にリファクタリング (#273)
  .claude/skills/update-meilisearch/SKILL.md
  .claude/skills/update-meilisearch/references/backup-restore.md
  .claude/skills/update-meilisearch/references/troubleshooting.md
  .claude/skills/update-meilisearch/references/upgrade-workarounds.md
  .claude/skills/update-meilisearch/references/verification.md
Due: none

refactor: daisyUI v5完全準拠マイグレーション
  apps/web/src/components/admin/tag-management-dialog.tsx
  apps/web/src/components/import-dialog.tsx
  apps/web/src/components/public/external-link-modal.tsx
  apps/web/src/components/public/genre-badge.tsx
  apps/web/src/components/search/ArtistRoleFilter.tsx
  apps/web/src/components/search/CircleFilter.tsx
  apps/web/src/components/search/DateRangeFilter.tsx
  apps/web/src/components/search/EventFilter.tsx
  apps/web/src/components/search/GenreFilter.tsx
  apps/web/src/components/search/OriginalSongCountFilter.tsx
  apps/web/src/components/search/OriginalSongFilter.tsx
  apps/web/src/components/search/RoleCountFilter.tsx
  apps/web/src/components/search/TagFilter.tsx
  apps/web/src/components/search/TextSearchFilter.tsx
  apps/web/src/components/ui/enhanced-track-select.tsx
  apps/web/src/components/ui/genre-badge.tsx
  apps/web/src/components/ui/genre-multi-select.tsx
  apps/web/src/components/ui/grouped-searchable-select.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/nested-grouped-searchable-select.tsx
  apps/web/src/components/ui/search-input.tsx
  apps/web/src/components/ui/searchable-grouped-select.tsx
  apps/web/src/components/ui/searchable-select.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/table.tsx
  apps/web/src/components/ui/textarea.tsx
  apps/web/src/index.css
  apps/web/src/routes/_public/artists_.$id.tsx
  apps/web/src/routes/_public/events_.$id.tsx
  apps/web/src/routes/_public/search.tsx
  apps/web/src/routes/_public/tags.tsx
  apps/web/src/routes/admin/_admin/import-legacy.tsx
  apps/web/src/routes/admin/_admin/releases_.$id.tsx
  apps/web/src/routes/admin/_admin/search.tsx
  apps/web/src/routes/admin/_admin/search/settings.$index.tsx
  apps/web/src/routes/admin/_admin/tags.tsx
  apps/web/src/routes/admin/_admin/tracks_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

docs: git-wt設定にwt.nocopyを追加してnode_modulesコピーを防止
  .claude/rules/branching.md
Due: none

refactor: daisyUI v5準拠の追加修正（menu-active、z-1）
  apps/web/src/components/admin/row-action-menu.tsx
  apps/web/src/components/theme-switcher.tsx
  apps/web/src/routes/admin/_admin/search.tsx
Due: biome, check-types, lint-jsx-nesting

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,css}
  check-types: any of: *.{js,ts,jsx,tsx}
  lint-jsx-nesting: any of: apps/web/**/*.{tsx,jsx}
