Repository shiroemons/thac: changes, and which lefthook commands are due for each by the changed paths.
All: biome, check-types, lint-jsx-nesting

biome:
  run: bun run check

check-types:
  run: bun run check-types

lint-jsx-nesting:
  run: bun run --cwd apps/web lint:jsx-nesting

chore: docker-compose.ymlにMeilisearch環境変数を追加
  docker-compose.yml
Due: none

fix: addDocumentsにprimaryKeyオプションを追加
  apps/server/src/routes/admin/search/reindex.ts
Due: biome, check-types

feat: 検索設定をモーダル表示に変更
  apps/web/src/routes/admin/_admin/search.tsx
  apps/web/src/routes/admin/_admin/search/settings.$index.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 検索設定に属性選択ドロップダウンを追加
  apps/web/src/routes/admin/_admin/search.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 検索設定にstopWords・synonyms・rankingRulesを追加
  apps/server/src/routes/admin/search/settings.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/routes/admin/_admin/search.tsx
Due: biome, check-types, lint-jsx-nesting

feat: Meilisearch統合機能の実装（管理画面・reindex・設定管理） (#240)
  apps/server/package.json
  apps/server/src/routes/admin/index.ts
  apps/server/src/routes/admin/releases/tracks.ts
  apps/server/src/routes/admin/search/health.ts
  apps/server/src/routes/admin/search/index.ts
  apps/server/src/routes/admin/search/reindex.ts
  apps/server/src/routes/admin/search/settings.ts
  apps/server/src/routes/admin/search/status.ts
  apps/web/src/components/admin-sidebar.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/routes/admin/_admin/search.tsx
  apps/web/src/routes/admin/_admin/search/settings.$index.tsx
  bun.lock
  docker-compose.yml
  packages/search/package.json
  packages/search/src/client.ts
  packages/search/src/hooks.ts
  packages/search/src/index.ts
  packages/search/src/indexes/index.ts
  packages/search/src/indexes/tracks.ts
  packages/search/src/queue.ts
  packages/search/src/transformers/index.ts
  packages/search/src/transformers/track.ts
  packages/search/src/types.ts
  packages/search/tsconfig.json
Due: biome, check-types, lint-jsx-nesting

feat: カスタム404ページを実装し、未使用のヘッダーを削除
  apps/web/src/components/admin-not-found.tsx
  apps/web/src/components/global-not-found.tsx
  apps/web/src/components/header.tsx
  apps/web/src/components/public/index.ts
  apps/web/src/components/public/not-found.tsx
  apps/web/src/router.tsx
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/_public.tsx
  apps/web/src/routes/admin/_admin.tsx
Due: biome, check-types, lint-jsx-nesting

feat: カスタム404ページを実装し、未使用のヘッダーを削除 (#241)
  apps/web/src/components/admin-not-found.tsx
  apps/web/src/components/global-not-found.tsx
  apps/web/src/components/header.tsx
  apps/web/src/components/public/index.ts
  apps/web/src/components/public/not-found.tsx
  apps/web/src/router.tsx
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/_public.tsx
  apps/web/src/routes/admin/_admin.tsx
Due: biome, check-types, lint-jsx-nesting

feat: MeilisearchのTrackSearchDocumentスキーマを更新
  packages/search/src/indexes/tracks.ts
  packages/search/src/transformers/track.ts
  packages/search/src/types.ts
Due: biome, check-types

feat: MeilisearchのTrackSearchDocumentスキーマを更新 (#242)
  packages/search/src/indexes/tracks.ts
  packages/search/src/transformers/track.ts
  packages/search/src/types.ts
Due: biome, check-types

chore: statusLine設定を削除
  .claude/settings.json
Due: biome

feat: Meilisearchアップデートスキルを追加し、v1.33.1にアップグレード
  .claude/skills/update-meilisearch/SKILL.md
  .gitignore
  .kiro/steering/meilisearch.md
  docker-compose.yml
Due: none

fix: meilisearch_dataボリュームをexternalに設定
  docker-compose.yml
Due: none

fix: webコンテナ起動時にViteキャッシュを自動クリア
  docker-compose.yml
Due: none

docs: Meilisearchアップデートスキルを改善
  .claude/skills/update-meilisearch/SKILL.md
Due: none

feat: 公開検索ページをMeilisearchに接続
  apps/server/src/routes/public/index.ts
  apps/server/src/routes/public/search.ts
  apps/server/src/utils/search-query-parser.test.ts
  apps/server/src/utils/search-query-parser.ts
  apps/web/package.json
  apps/web/src/components/search/utils.ts
  apps/web/src/lib/public-api.ts
  apps/web/src/lib/public-query-options.ts
  apps/web/src/routes/_public/search.tsx
  bun.lock
  packages/search/src/indexes/tracks.ts
  packages/search/src/types.ts
Due: biome, check-types, lint-jsx-nesting

fix: フィルターのみ検索が動作しない問題を修正
  apps/server/src/routes/public/search.ts
  apps/web/src/routes/_public/search.tsx
  package.json
Due: biome, check-types, lint-jsx-nesting

fix: ESM環境でrequireが使えない問題を修正
  apps/web/src/routes/_public/search.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 検索結果UIを大幅に改善
  apps/web/src/routes/_public/search.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 検索画面の機能改善とバグ修正
  apps/server/src/utils/search-query-parser.test.ts
  apps/server/src/utils/search-query-parser.ts
  apps/web/src/components/search/AdvancedSearchModal.tsx
  apps/web/src/routes/_public/search.tsx
  packages/search/src/indexes/tracks.ts
Due: biome, check-types, lint-jsx-nesting

fix: React重複キー警告とURL空文字パラメータを修正
  apps/web/src/routes/_public/search.tsx
  apps/web/src/routes/_public/tracks_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

fix: 検索結果テーブルのテキスト省略を解除し原曲列を拡大
  apps/web/src/routes/_public/search.tsx
Due: biome, check-types, lint-jsx-nesting

feat: モバイル検索結果カードUIを大幅に改善
  apps/web/src/routes/_public/search.tsx
Due: biome, check-types, lint-jsx-nesting

docs: 検索構文ヘルプを拡充し誤記を修正
  apps/web/src/components/search/SearchSyntaxHelp.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 期間検索構文（period:, date:）を追加
  apps/server/src/utils/search-query-parser.test.ts
  apps/server/src/utils/search-query-parser.ts
  apps/web/src/components/search/SearchSyntaxHelp.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 検索構文ヘルプに比較演算子のツールチップを追加
  apps/web/src/components/search/SearchSyntaxHelp.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 公開検索ページをMeilisearchに接続 (#243)
  apps/server/src/routes/public/index.ts
  apps/server/src/routes/public/search.ts
  apps/server/src/utils/search-query-parser.test.ts
  apps/server/src/utils/search-query-parser.ts
  apps/web/package.json
  apps/web/src/components/search/AdvancedSearchModal.tsx
  apps/web/src/components/search/SearchSyntaxHelp.tsx
  apps/web/src/components/search/utils.ts
  apps/web/src/lib/public-api.ts
  apps/web/src/lib/public-query-options.ts
  apps/web/src/routes/_public/search.tsx
  apps/web/src/routes/_public/tracks_.$id.tsx
  bun.lock
  package.json
  packages/search/src/indexes/tracks.ts
  packages/search/src/types.ts
Due: biome, check-types, lint-jsx-nesting

docs: Meilisearch検索機能の仕様書を追加
  docs/specs/meilisearch-search/README.md
  docs/specs/meilisearch-search/api-specification.md
  docs/specs/meilisearch-search/index-schema.md
  docs/specs/meilisearch-search/query-parser.md
  docs/specs/meilisearch-search/search-syntax.md
Due: none

docs: 要件定義の実装状況レポートを追加
  docs/requirements/implementation-status.md
Due: none

docs: Better-Auth全機能調査レポートを追加
  docs/specs/better-auth/README.md
Due: none

docs: Better-AuthドキュメントにER図と解説を追加
  docs/specs/better-auth/README.md
Due: none

feat: 未ログインユーザーへの検索機能制限を実装
  apps/server/src/middleware/optional-auth.ts
  apps/server/src/routes/public/search.ts
  apps/web/src/components/search/LoginPromptBanner.tsx
  apps/web/src/components/search/index.ts
  apps/web/src/components/sign-in-form.tsx
  apps/web/src/components/sign-up-form.tsx
  apps/web/src/routes/_public/search.tsx
  apps/web/src/routes/login.tsx
  docs/specs/search-auth-restriction/README.md
Due: biome, check-types, lint-jsx-nesting

fix: ログイン促進バナーを検索結果の有無に関わらず表示
  apps/web/src/routes/_public/search.tsx
Due: biome, check-types, lint-jsx-nesting

style: ログイン促進バナーのUIをグラスモーフィズムデザインに改善
  apps/web/src/components/search/LoginPromptBanner.tsx
Due: biome, check-types, lint-jsx-nesting

fix: 検索APIのlet宣言をリファクタリングしてlintエラーを修正
  apps/server/src/routes/public/search.ts
Due: biome, check-types

feat: 未ログインユーザーへの検索機能制限を実装 (#247)
  apps/server/src/middleware/optional-auth.ts
  apps/server/src/routes/public/search.ts
  apps/web/src/components/search/LoginPromptBanner.tsx
  apps/web/src/components/search/index.ts
  apps/web/src/components/sign-in-form.tsx
  apps/web/src/components/sign-up-form.tsx
  apps/web/src/routes/_public/search.tsx
  apps/web/src/routes/login.tsx
  docs/specs/search-auth-restriction/README.md
Due: biome, check-types, lint-jsx-nesting

docs: Better-Auth anonymousプラグインのドキュメントを追加
  docs/specs/better-auth/README.md
Due: none

docs: Better-Auth外部サービス調査レポートを追加
  docs/specs/better-auth/external-services.md
Due: none

feat: ジャンル機能を追加
  apps/server/src/routes/admin/genres.ts
  apps/server/src/routes/admin/index.ts
  apps/server/src/routes/admin/releases/releases.ts
  apps/server/src/routes/admin/releases/tracks.ts
  apps/server/src/routes/admin/tracks/index.ts
  apps/web/src/components/admin-sidebar.tsx
  apps/web/src/components/admin/genre-edit-dialog.tsx
  apps/web/src/components/admin/release-edit-dialog.tsx
  apps/web/src/components/admin/track-edit-dialog.tsx
  apps/web/src/components/public/genre-badge-list.tsx
  apps/web/src/components/public/genre-badge.tsx
  apps/web/src/components/public/index.ts
  apps/web/src/components/ui/genre-badge.tsx
  apps/web/src/components/ui/genre-multi-select.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/mutation-options.ts
  apps/web/src/lib/public-api.ts
  apps/web/src/routes/_public/releases_.$id.tsx
  apps/web/src/routes/_public/tracks_.$id.tsx
  apps/web/src/routes/admin/_admin/master/genres.tsx
  docs/specs/genre/README.md
  docs/specs/genre/seed-data.md
  packages/db/src/schema/genre.ts
  packages/db/src/schema/genre.validation.ts
  packages/db/src/schema/index.ts
  packages/db/src/seed-master.ts
Due: biome, check-types, lint-jsx-nesting

feat: 管理画面詳細ページにジャンル表示を追加
  apps/web/src/routes/admin/_admin/releases_.$id.tsx
  apps/web/src/routes/admin/_admin/tracks_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,css}
  check-types: any of: *.{js,ts,jsx,tsx}
  lint-jsx-nesting: any of: apps/web/**/*.{tsx,jsx}
