Repository shiroemons/thac: changes, and which lefthook commands are due for each by the changed paths.
All: biome, check-types, lint-jsx-nesting

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json,css}"
      run: bun run check
    check-types:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun run check-types
    lint-jsx-nesting:
      glob: "apps/web/**/*.{tsx,jsx}"
      run: bun run --cwd apps/web lint:jsx-nesting

perf: 外部キーカラムにインデックスを追加
  packages/db/src/migrations/0000_clumsy_dazzler.sql
  packages/db/src/migrations/meta/0000_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema/artist-circle.ts
  packages/db/src/schema/official.ts
  packages/db/src/schema/track.ts
Due: biome, check-types

fix: 検索クエリの長さ制限ユーティリティを追加し全ルートに適用
  apps/server/src/routes/admin/artist-aliases/index.ts
  apps/server/src/routes/admin/artists/index.ts
  apps/server/src/routes/admin/circles/index.ts
  apps/server/src/routes/admin/events/event-series.ts
  apps/server/src/routes/admin/events/events.ts
  apps/server/src/routes/admin/export/artists.ts
  apps/server/src/routes/admin/export/circles.ts
  apps/server/src/routes/admin/export/events.ts
  apps/server/src/routes/admin/export/official.ts
  apps/server/src/routes/admin/export/releases.ts
  apps/server/src/routes/admin/export/tracks.ts
  apps/server/src/routes/admin/genres.ts
  apps/server/src/routes/admin/master/alias-types.ts
  apps/server/src/routes/admin/master/credit-roles.ts
  apps/server/src/routes/admin/master/official-work-categories.ts
  apps/server/src/routes/admin/master/platforms.ts
  apps/server/src/routes/admin/official/songs.ts
  apps/server/src/routes/admin/official/works.ts
  apps/server/src/routes/admin/releases/releases.ts
  apps/server/src/routes/admin/tags.ts
  apps/server/src/routes/admin/tracks/index.ts
  apps/server/src/routes/public/artists.ts
  apps/server/src/routes/public/circles.ts
  apps/server/src/routes/public/events.ts
  apps/server/src/routes/public/official-works.ts
  apps/server/src/routes/public/original-songs.ts
  apps/server/src/routes/public/search.ts
  apps/server/src/routes/public/tags.ts
  apps/server/src/utils/query-params.ts
Due: biome, check-types

fix: PostgreSQLの制約違反エラーをhandleDbErrorで適切にハンドリング
  apps/server/src/constants/error-messages.ts
  apps/server/src/utils/api-error.ts
Due: biome, check-types

perf: tags.attributesにGINインデックスを追加
  packages/db/src/schema/tag.ts
Due: biome, check-types

fix: リリース日付とポジションにCHECK制約を追加
  packages/db/src/schema/genre.ts
  packages/db/src/schema/release.ts
  packages/db/src/schema/tag.ts
Due: biome, check-types

perf: track_creditsにアーティスト→トラック方向の逆引きインデックスを追加
  packages/db/src/schema/track.ts
Due: biome, check-types

chore: スキーマ変更のマイグレーションを生成
  packages/db/src/migrations/0001_narrow_trauma.sql
  packages/db/src/migrations/meta/0001_snapshot.json
  packages/db/src/migrations/meta/_journal.json
Due: biome

perf: アーティストリストのロールフィルタをサブクエリに最適化
  apps/server/src/routes/public/artists.ts
Due: biome, check-types

fix: PostgreSQLの追加エラーコード(23502,57014,08xxx,57P03)をhandleDbErrorに追加
  apps/server/src/constants/error-messages.ts
  apps/server/src/utils/api-error.ts
Due: biome, check-types

fix: SSL証明書検証オプション(verify-full)を追加
  packages/db/src/utils/ssl.ts
Due: biome, check-types

fix: PostgreSQL接続にタイムアウト設定とクリーンアップログを追加
  packages/db/src/index.ts
  packages/db/src/utils/script-client.ts
Due: biome, check-types

perf: イベント一覧の相関サブクエリを派生テーブルに最適化
  apps/server/src/routes/public/events.ts
Due: biome, check-types

perf: releases.updatedAtにインデックスを追加
  packages/db/src/schema/release.ts
Due: biome, check-types

fix: 検索クエリのlike/ilikeをilikeに統一
  apps/server/src/routes/admin/artist-aliases/index.ts
  apps/server/src/routes/admin/artists/index.ts
  apps/server/src/routes/admin/circles/index.ts
  apps/server/src/routes/admin/events/event-series.ts
  apps/server/src/routes/admin/events/events.ts
  apps/server/src/routes/admin/export/artists.ts
  apps/server/src/routes/admin/export/circles.ts
  apps/server/src/routes/admin/export/events.ts
  apps/server/src/routes/admin/export/official.ts
  apps/server/src/routes/admin/export/releases.ts
  apps/server/src/routes/admin/export/tracks.ts
  apps/server/src/routes/admin/genres.ts
  apps/server/src/routes/admin/master/alias-types.ts
  apps/server/src/routes/admin/master/credit-roles.ts
  apps/server/src/routes/admin/master/official-work-categories.ts
  apps/server/src/routes/admin/master/platforms.ts
  apps/server/src/routes/admin/official/songs.ts
  apps/server/src/routes/admin/official/works.ts
  apps/server/src/routes/admin/releases/releases.ts
  apps/server/src/routes/admin/tags.ts
  apps/server/src/routes/public/circles.ts
  apps/server/src/routes/public/official-works.ts
  apps/server/src/routes/public/original-songs.ts
  apps/server/src/routes/public/tags.ts
Due: biome, check-types

feat: キャッシュの定期pruning機能を追加
  apps/server/src/index.ts
Due: biome, check-types

perf: 管理画面の重複チェック用lower()関数インデックスを追加
  packages/db/src/schema/artist-circle.ts
  packages/db/src/schema/event.ts
Due: biome, check-types

chore: devbox PostgreSQLチューニングパラメータを追加
  devbox.json
Due: biome

docs: docker-compose.ymlに本番PostgreSQL設定ガイドを追加
  docker-compose.yml
Due: none

chore: スキーマ変更のマイグレーションを生成
  packages/db/src/migrations/0002_serious_praxagora.sql
  packages/db/src/migrations/meta/0002_snapshot.json
  packages/db/src/migrations/meta/_journal.json
Due: biome

perf: ILIKE検索用pg_trgm GINインデックスと複合インデックスを追加
  packages/db/src/migrations/0003_cooing_betty_brant.sql
  packages/db/src/migrations/meta/0003_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema/artist-circle.ts
  packages/db/src/schema/official.ts
Due: biome, check-types

docs: .env.exampleにSSL verify-full推奨を追記
  apps/server/.env.example
Due: none

perf: statsエンドポイントのCOUNT最適化
  apps/server/src/routes/public/stats.ts
Due: biome, check-types

feat: 一時的DBエラーへのリトライロジックを追加
  apps/server/src/utils/api-error.ts
  apps/server/src/utils/db-retry.ts
Due: biome, check-types

docs: CI設定にPGliteテスト戦略のコメントを追加
  .github/workflows/ci.yml
Due: none

docs: PostgreSQLベストプラクティスのルールファイルを追加・更新
  .claude/rules/db-queries.md
  .claude/rules/db-schema.md
  .claude/rules/db.md
  .claude/rules/server.md
Due: none

fix: Webビルドのpostgresクライアントバンドル漏洩を修正
  apps/web/src/components/admin/artist-alias-edit-dialog.tsx
  apps/web/src/components/admin/artist-edit-dialog.tsx
  apps/web/src/components/admin/circle-edit-dialog.tsx
  apps/web/src/components/admin/event-edit-dialog.tsx
  apps/web/src/components/admin/event-series-edit-dialog.tsx
  apps/web/src/components/admin/official-links-card.tsx
  apps/web/src/components/sign-up-form.tsx
  apps/web/src/lib/auth-client.ts
  apps/web/src/lib/utils.ts
  apps/web/src/routes/admin/_admin/circles.tsx
  apps/web/src/routes/admin/_admin/circles_.$id.tsx
  apps/web/src/routes/admin/_admin/events.tsx
  apps/web/src/routes/admin/_admin/events_.$id.tsx
  apps/web/src/routes/admin/_admin/releases.tsx
  apps/web/src/routes/admin/_admin/releases_.$id.tsx
  apps/web/src/routes/admin/_admin/tracks.tsx
  apps/web/src/routes/admin/_admin/tracks_.$id.tsx
  apps/web/vite.config.ts
Due: biome, check-types, lint-jsx-nesting

fix: statsエンドポイントのANY()クエリをIN句に修正
  apps/server/src/routes/public/stats.ts
Due: biome, check-types

fix: PGliteテスト環境のpg_trgm互換性とスキーマテストを修正
  apps/server/test/helpers/test-db.ts
  packages/db/src/__tests__/master.test.ts
  packages/db/src/__tests__/schema-integration.test.ts
Due: biome, check-types

fix: テストフィクスチャのreleaseId NOT NULL制約違反を修正
  apps/server/test/helpers/fixtures.ts
  apps/server/test/integration/admin/track-derivations.test.ts
  apps/server/test/integration/admin/track-isrcs.test.ts
  apps/server/test/integration/admin/track-official-songs.test.ts
  apps/server/test/integration/admin/track-publications.test.ts
Due: biome, check-types

fix: devboxのPostgreSQLバージョン表示をpg_configからpostgresに修正
  devbox.json
Due: biome

fix: statsエンドポイントのne()型不一致エラーを修正
  apps/server/src/routes/public/stats.ts
Due: biome, check-types

fix: Drizzle ORM count()の文字列連結バグを修正
  apps/server/src/routes/public/artists.ts
  apps/server/src/routes/public/circles.ts
  apps/server/src/routes/public/events.ts
  apps/server/src/routes/public/official-works.ts
  apps/server/src/routes/public/original-songs.ts
  apps/server/src/routes/public/stats.ts
  apps/server/src/routes/public/tags.ts
Due: biome, check-types

fix: 公開API・管理APIの残りのcount()文字列型バグを修正
  apps/server/src/routes/admin/artist-aliases/index.ts
  apps/server/src/routes/admin/artists/index.ts
  apps/server/src/routes/admin/circles/index.ts
  apps/server/src/routes/admin/events/event-series.ts
  apps/server/src/routes/admin/events/events.ts
  apps/server/src/routes/admin/master/alias-types.ts
  apps/server/src/routes/admin/master/credit-roles.ts
  apps/server/src/routes/admin/master/official-work-categories.ts
  apps/server/src/routes/admin/master/platforms.ts
  apps/server/src/routes/admin/official/songs.ts
  apps/server/src/routes/admin/official/works.ts
  apps/server/src/routes/admin/releases/releases.ts
  apps/server/src/routes/admin/stats.ts
  apps/server/src/routes/admin/tags.ts
  apps/server/src/routes/admin/tracks/index.ts
  apps/server/src/routes/public/artists.ts
  apps/server/src/routes/public/circles.ts
  apps/server/src/routes/public/events.ts
Due: biome, check-types

feat: 管理者シードスクリプトとdevbox setupコマンドを追加
  devbox.json
  package.json
  packages/auth/package.json
  packages/auth/src/seed-admin.ts
Due: biome, check-types

docs: READMEを全体的に見直して更新
  README.md
Due: none

refactor: レガシーCSVインポートのステップ順序を変更
  apps/web/src/routes/admin/_admin/import-legacy.tsx
Due: biome, check-types, lint-jsx-nesting

feat: レガシーCSVインポートにイベントシリーズ選択・作成機能を追加
  apps/server/src/routes/admin/import/legacy.ts
  apps/server/src/services/legacy-import-service.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/routes/admin/_admin/import-legacy.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 新規シリーズ作成モーダルにシリーズ名の自動推察を追加
  apps/web/src/lib/event-name-parser.ts
  apps/web/src/routes/admin/_admin/import-legacy.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 原曲マッピングに未マッピングのみ表示フィルターを追加
  apps/web/src/routes/admin/_admin/import-legacy.tsx
Due: biome, check-types, lint-jsx-nesting
