Repository shiroemons/thac: changes, and which lefthook commands are due for each by the changed paths.
All: biome, check-types, lint-jsx-nesting

biome:
  run: bun run check

check-types:
  run: bun run check-types

lint-jsx-nesting:
  run: bun run --cwd apps/web lint:jsx-nesting

refactor: rounded-btnをrounded-fieldに変更（daisyUI v5ユーティリティクラス移行）
  apps/web/src/components/ui/genre-multi-select.tsx
  apps/web/src/components/ui/tag-input.tsx
Due: biome, check-types, lint-jsx-nesting

refactor: statsコンポーネントにbg-base-100を追加（daisyUI v5背景透明化対応）
  apps/web/src/routes/admin/_admin/import-legacy.tsx
Due: biome, check-types, lint-jsx-nesting

docs: daisyUI v5準拠ルールファイルを追加
  .claude/rules/daisyui-v5.md
Due: none

docs: daisyUI v5チェックフローに公式ドキュメント参照を追加
  .claude/rules/daisyui-v5.md
  .claude/rules/workflow.md
Due: none

fix: ホームページ背景のグラデーションが全幅に広がるよう修正
  apps/web/src/routes/_public.tsx
  apps/web/src/routes/_public/index.tsx
Due: biome, check-types, lint-jsx-nesting

fix: ホームページ背景のグラデーションが全幅に広がるよう修正 (#276)
  apps/web/src/routes/_public.tsx
  apps/web/src/routes/_public/index.tsx
Due: biome, check-types, lint-jsx-nesting

chore: worktree開発体験を改善するmakeターゲットと環境変数を追加
  .claude/rules/branching.md
  Makefile
  devbox.json
Due: biome

chore: worktree開発体験を改善するmakeターゲットと環境変数を追加 (#277)
  .claude/rules/branching.md
  Makefile
  devbox.json
Due: biome

chore(deps): TanStack Router/Start/Query/Form を更新
  apps/web/package.json
  bun.lock
  package.json
Due: biome

chore(deps): Hono を 4.12.14 に更新
  apps/server/package.json
  bun.lock
Due: biome

chore(deps): TailwindCSS v4.2 と daisyUI 5.5.19 へ更新
  apps/web/package.json
  bun.lock
Due: biome

chore(deps): Better-Auth を 1.6.8 に更新
  bun.lock
  package.json
Due: biome

chore(deps): Drizzle ORM/Kit をパッチ更新
  apps/server/package.json
  bun.lock
  packages/db/package.json
Due: biome

chore(deps): React/ReactDOM をパッチ更新
  apps/web/package.json
  bun.lock
Due: biome

chore(deps): Vite と関連プラグインを更新
  apps/web/package.json
  bun.lock
Due: biome

chore(deps): Biome/ESLint/Markuplint を更新
  apps/server/src/routes/admin/releases/releases.ts
  apps/server/src/utils/search-query-parser.ts
  apps/web/package.json
  apps/web/src/components/public/embeds/media-embed.tsx
  apps/web/src/components/public/public-breadcrumb.tsx
  apps/web/src/components/public/publication-links.tsx
  apps/web/src/routes/_public/releases_.$id.tsx
  apps/web/src/routes/_public/search.tsx
  apps/web/src/routes/_public/tracks_.$id.tsx
  apps/web/src/routes/admin/_admin/import-legacy.tsx
  apps/web/src/routes/admin/_admin/tracks.tsx
  bun.lock
  package.json
Due: biome, check-types, lint-jsx-nesting

chore(deps): テストユーティリティをパッチ更新
  apps/web/package.json
  bun.lock
Due: biome

chore(deps): Turbo/Lefthook/tsdown を更新
  apps/server/package.json
  bun.lock
  package.json
Due: biome

chore(deps): catalog 共有依存を更新
  bun.lock
  package.json
Due: biome

chore(deps): Biome 2.4 の新ルールに合わせてコードを修正
  apps/server/src/routes/admin/genres.ts
  apps/server/src/routes/admin/tags.ts
  apps/server/src/routes/public/artists.ts
  apps/web/src/components/admin/admin-page-header.tsx
  apps/web/src/components/admin/column-visibility-toggle.tsx
  apps/web/src/components/admin/conflict-dialog.tsx
  apps/web/src/components/admin/data-table-action-bar.tsx
  apps/web/src/components/admin/data-table-pagination.tsx
  apps/web/src/components/admin/data-table-skeleton.tsx
  apps/web/src/components/public/filter-bar.tsx
  apps/web/src/components/public/genre-badge-list.tsx
  apps/web/src/components/public/genre-badge.tsx
  apps/web/src/components/public/ranking-list.tsx
  apps/web/src/components/public/tag-badge-list.tsx
  apps/web/src/components/public/tag-badge.tsx
  apps/web/src/components/public/tag-cloud.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/banner.tsx
  apps/web/src/components/ui/breadcrumb.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/checkbox.tsx
  apps/web/src/components/ui/confirm-dialog.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/genre-badge.tsx
  apps/web/src/components/ui/genre-multi-select.tsx
  apps/web/src/components/ui/infinite-scroll.tsx
  apps/web/src/components/ui/search-input.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/table.tsx
  apps/web/src/components/ui/tag-badge.tsx
  apps/web/src/components/ui/tag-input.tsx
  packages/db/src/index.ts
Due: biome, check-types, lint-jsx-nesting

chore(deps): bunとtanstack-react-query、tsdownをアップデート
  apps/server/package.json
  apps/server/tsdown.config.ts
  apps/web/package.json
  bun.lock
  package.json
Due: biome, check-types

chore(deps): lucide-react・isomorphic-dompurify・jsdomをメジャーアップデート
  apps/web/package.json
  apps/web/src/components/public/public-footer.tsx
  apps/web/src/routes/_public/about.tsx
  bun.lock
Due: biome, check-types, lint-jsx-nesting

chore(deps): eslintをv10にメジャーアップデート
  apps/web/package.json
  bun.lock
Due: biome

chore(deps): vite v8・@vitejs/plugin-react v6にメジャーアップデート
  apps/web/package.json
  apps/web/vite.config.ts
  bun.lock
Due: biome, check-types

chore(deps): meilisearch SDKをv0.57・サーバーを1.41にアップデート
  bun.lock
  devbox.json
  devbox.lock
  packages/search/package.json
  packages/search/src/client.ts
Due: biome, check-types

chore(deps): @electric-sql/pgliteをv0.4にメジャーアップデート
  apps/server/test/helpers/test-db.ts
  bun.lock
  package.json
  packages/db/src/__tests__/schema-integration.test.ts
Due: biome, check-types

chore(deps): 依存パッケージをメジャーアップデート (#279)
  apps/server/package.json
  apps/server/test/helpers/test-db.ts
  apps/server/tsdown.config.ts
  apps/web/package.json
  apps/web/src/components/public/public-footer.tsx
  apps/web/src/routes/_public/about.tsx
  apps/web/vite.config.ts
  bun.lock
  devbox.json
  devbox.lock
  package.json
  packages/db/src/__tests__/schema-integration.test.ts
  packages/search/package.json
  packages/search/src/client.ts
Due: biome, check-types, lint-jsx-nesting

feat: apps/webのビルドをVite+に移行
  apps/web/package.json
  bun.lock
  package.json
Due: biome

chore: Meilisearchを1.41.0にアップグレード
  .kiro/steering/meilisearch.md
  docker-compose.yml
Due: none

fix: 公開一覧/ランキングページの初回ロード時クルクルをSSRプリフェッチで解消
  apps/web/src/routes/_public/artists.tsx
  apps/web/src/routes/_public/circles.tsx
  apps/web/src/routes/_public/stats_.artists.tsx
  apps/web/src/routes/_public/stats_.circles.tsx
  apps/web/src/routes/_public/stats_.original-songs.tsx
  apps/web/src/routes/_public/stats_.song-pairs.tsx
  apps/web/src/routes/_public/tags.tsx
Due: biome, check-types, lint-jsx-nesting

fix: 詳細ページのトラック/作品タブをuseQuery化しSSRプリフェッチで初回スピナーを解消
  apps/web/src/lib/public-query-options.ts
  apps/web/src/routes/_public/artists_.$id.tsx
  apps/web/src/routes/_public/circles_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

fix: 速い遷移ではpendingComponentを出さないようdefaultPendingMs/MinMsを追加
  apps/web/src/router.tsx
Due: biome, check-types, lint-jsx-nesting

fix: イベント詳細のreleasesタブをSSRプリフェッチして初回スピナー解消
  apps/web/src/routes/_public/events_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

refactor: 残るuseEffect+useState+API直呼びをuseQuery化しアンチパターンを撤廃
  apps/web/src/lib/public-query-options.ts
  apps/web/src/routes/_public/original-songs.tsx
  apps/web/src/routes/_public/tags_.$tagId.tsx
Due: biome, check-types, lint-jsx-nesting

fix: 公開ページの初回ロードスピナーを網羅的に解消（SSRプリフェッチ + フェッチアンチパターン撤廃） (#282)
  apps/web/src/lib/public-query-options.ts
  apps/web/src/router.tsx
  apps/web/src/routes/_public/artists.tsx
  apps/web/src/routes/_public/artists_.$id.tsx
  apps/web/src/routes/_public/circles.tsx
  apps/web/src/routes/_public/circles_.$id.tsx
  apps/web/src/routes/_public/events_.$id.tsx
  apps/web/src/routes/_public/original-songs.tsx
  apps/web/src/routes/_public/stats_.artists.tsx
  apps/web/src/routes/_public/stats_.circles.tsx
  apps/web/src/routes/_public/stats_.original-songs.tsx
  apps/web/src/routes/_public/stats_.song-pairs.tsx
  apps/web/src/routes/_public/tags.tsx
  apps/web/src/routes/_public/tags_.$tagId.tsx
Due: biome, check-types, lint-jsx-nesting

feat(db): add album_requests table for community submissions
  packages/db/src/migrations/0004_great_beast.sql
  packages/db/src/migrations/meta/0004_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema/album-request.ts
  packages/db/src/schema/album-request.validation.ts
  packages/db/src/schema/index.ts
  packages/db/src/truncate-non-master.ts
  packages/db/src/utils/id.ts
Due: biome, check-types

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,css}
  check-types: any of: *.{js,ts,jsx,tsx}
  lint-jsx-nesting: any of: apps/web/**/*.{tsx,jsx}
