Repository shiroemons/thac: changes, and which lefthook commands are due for each by the changed paths.
All: biome, check-types, lint-jsx-nesting

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json,css}"
      run: bun run check
    check-types:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun run check-types
    lint-jsx-nesting:
      glob: "apps/web/**/*.{tsx,jsx}"
      run: bun run --cwd apps/web lint:jsx-nesting

feat: 楽曲一覧ページにジャンル表示を追加
  apps/server/src/routes/public/artists.ts
  apps/server/src/routes/public/circles.ts
  apps/server/src/routes/public/genres.ts
  apps/server/src/routes/public/index.ts
  apps/server/src/routes/public/original-songs.ts
  apps/server/src/utils/cache.ts
  apps/web/src/lib/public-api.ts
  apps/web/src/lib/public-query-options.ts
  apps/web/src/routes/_public/artists_.$id.tsx
  apps/web/src/routes/_public/circles_.$id.tsx
  apps/web/src/routes/_public/original-songs_.$id.tsx
  apps/web/src/routes/_public/search.tsx
Due: biome, check-types, lint-jsx-nesting

feat: ジャンル表示のUI/UXを改善
  apps/server/src/routes/public/releases.ts
  apps/server/src/routes/public/tracks.ts
  apps/web/src/routes/_public/artists_.$id.tsx
  apps/web/src/routes/_public/circles_.$id.tsx
  apps/web/src/routes/_public/original-songs_.$id.tsx
  apps/web/src/routes/_public/search.tsx
  apps/web/src/routes/_public/tracks_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

refactor: リリースとジャンルの関連機能を削除
  apps/server/src/routes/admin/genres.ts
  apps/server/src/routes/admin/releases/releases.ts
  apps/web/src/components/admin/release-edit-dialog.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/public-api.ts
  apps/web/src/routes/_public/releases_.$id.tsx
  apps/web/src/routes/admin/_admin/releases_.$id.tsx
  docs/specs/genre/README.md
  packages/db/src/schema/genre.ts
  packages/db/src/schema/genre.validation.ts
Due: biome, check-types, lint-jsx-nesting

fix: CIのlintエラーを修正
  apps/server/src/routes/admin/genres.ts
  apps/web/src/components/public/genre-badge.tsx
  apps/web/src/components/ui/genre-badge.tsx
Due: biome, check-types, lint-jsx-nesting

fix: テストDBにgenresおよびtrackGenresテーブルを追加
  apps/server/test/helpers/test-db.ts
Due: biome, check-types

style: Biomeによるフォーマット修正
  apps/server/src/routes/admin/genres.ts
  apps/server/src/routes/admin/releases/tracks.ts
  apps/server/src/routes/admin/tracks/index.ts
  apps/server/src/routes/public/search.ts
  apps/server/src/utils/search-query-parser.test.ts
  apps/server/src/utils/search-query-parser.ts
  apps/web/src/components/admin/genre-edit-dialog.tsx
  apps/web/src/components/public/index.ts
  apps/web/src/components/search/LoginPromptBanner.tsx
  apps/web/src/components/search/SearchSyntaxHelp.tsx
  apps/web/src/components/search/index.ts
  apps/web/src/components/ui/genre-multi-select.tsx
  apps/web/src/lib/mutation-options.ts
  apps/web/src/lib/public-api.ts
  apps/web/src/routes/_public/search.tsx
  apps/web/src/routes/admin/_admin/master/genres.tsx
  apps/web/src/routes/admin/_admin/tracks_.$id.tsx
  packages/db/src/schema/genre.validation.ts
  packages/db/src/schema/index.ts
Due: biome, check-types, lint-jsx-nesting

fix: ジャンルバッジのテキスト色をdaisyUIテーマ変数に変更
  apps/web/src/components/public/genre-badge.tsx
  apps/web/src/components/ui/genre-badge.tsx
Due: biome, check-types, lint-jsx-nesting

fix: ジャンルバッジのテキスト色をdaisyUIテーマ変数に変更 (#250)
  apps/web/src/components/public/genre-badge.tsx
  apps/web/src/components/ui/genre-badge.tsx
Due: biome, check-types, lint-jsx-nesting

feat: パスワードマネージャー対策を全フォームに適用
  apps/web/src/components/admin/alias-type-edit-dialog.tsx
  apps/web/src/components/admin/artist-alias-edit-dialog.tsx
  apps/web/src/components/admin/artist-edit-dialog.tsx
  apps/web/src/components/admin/circle-edit-dialog.tsx
  apps/web/src/components/admin/credit-role-edit-dialog.tsx
  apps/web/src/components/admin/event-edit-dialog.tsx
  apps/web/src/components/admin/event-series-edit-dialog.tsx
  apps/web/src/components/admin/genre-edit-dialog.tsx
  apps/web/src/components/admin/official-link-dialog.tsx
  apps/web/src/components/admin/official-song-edit-dialog.tsx
  apps/web/src/components/admin/official-work-category-edit-dialog.tsx
  apps/web/src/components/admin/official-work-edit-dialog.tsx
  apps/web/src/components/admin/platform-edit-dialog.tsx
  apps/web/src/components/admin/release-edit-dialog.tsx
  apps/web/src/components/admin/tag-management-dialog.tsx
  apps/web/src/components/admin/track-edit-dialog.tsx
  apps/web/src/components/search/TextSearchFilter.tsx
Due: biome, check-types, lint-jsx-nesting

fix: パスワードマネージャー対策の漏れを修正
  .claude/rules/form-inputs.md
  apps/web/src/components/create-dialog.tsx
  apps/web/src/components/ui/search-input.tsx
  apps/web/src/components/ui/tag-input.tsx
Due: biome, check-types, lint-jsx-nesting

feat: パスワードマネージャー対策を全フォームに適用 (#251)
  .claude/rules/form-inputs.md
  apps/web/src/components/admin/alias-type-edit-dialog.tsx
  apps/web/src/components/admin/artist-alias-edit-dialog.tsx
  apps/web/src/components/admin/artist-edit-dialog.tsx
  apps/web/src/components/admin/circle-edit-dialog.tsx
  apps/web/src/components/admin/credit-role-edit-dialog.tsx
  apps/web/src/components/admin/event-edit-dialog.tsx
  apps/web/src/components/admin/event-series-edit-dialog.tsx
  apps/web/src/components/admin/genre-edit-dialog.tsx
  apps/web/src/components/admin/official-link-dialog.tsx
  apps/web/src/components/admin/official-song-edit-dialog.tsx
  apps/web/src/components/admin/official-work-category-edit-dialog.tsx
  apps/web/src/components/admin/official-work-edit-dialog.tsx
  apps/web/src/components/admin/platform-edit-dialog.tsx
  apps/web/src/components/admin/release-edit-dialog.tsx
  apps/web/src/components/admin/tag-management-dialog.tsx
  apps/web/src/components/admin/track-edit-dialog.tsx
  apps/web/src/components/create-dialog.tsx
  apps/web/src/components/search/TextSearchFilter.tsx
  apps/web/src/components/ui/search-input.tsx
  apps/web/src/components/ui/tag-input.tsx
Due: biome, check-types, lint-jsx-nesting

feat: Meilisearchにジャンル・タグ検索機能を追加
  apps/server/src/routes/public/tags.ts
  apps/server/src/utils/search-query-parser.ts
  apps/web/src/components/search/AdvancedSearchModal.tsx
  apps/web/src/components/search/FilterChips.tsx
  apps/web/src/components/search/GenreFilter.tsx
  apps/web/src/components/search/SearchSyntaxHelp.tsx
  apps/web/src/components/search/TagFilter.tsx
  apps/web/src/components/search/types.ts
  apps/web/src/components/search/useFilterChips.ts
  apps/web/src/components/search/utils.ts
  apps/web/src/lib/public-api.ts
  apps/web/src/routes/_public/search.tsx
  packages/search/src/indexes/tracks.ts
  packages/search/src/transformers/track.ts
  packages/search/src/types.ts
Due: biome, check-types, lint-jsx-nesting

feat: Meilisearchにジャンル・タグ検索機能を追加 (#252)
  apps/server/src/routes/public/tags.ts
  apps/server/src/utils/search-query-parser.ts
  apps/web/src/components/search/AdvancedSearchModal.tsx
  apps/web/src/components/search/FilterChips.tsx
  apps/web/src/components/search/GenreFilter.tsx
  apps/web/src/components/search/SearchSyntaxHelp.tsx
  apps/web/src/components/search/TagFilter.tsx
  apps/web/src/components/search/types.ts
  apps/web/src/components/search/useFilterChips.ts
  apps/web/src/components/search/utils.ts
  apps/web/src/lib/public-api.ts
  apps/web/src/routes/_public/search.tsx
  packages/search/src/indexes/tracks.ts
  packages/search/src/transformers/track.ts
  packages/search/src/types.ts
Due: biome, check-types, lint-jsx-nesting

feat: トラック編集改善とMeilisearch遅延同期を実装
  apps/server/src/routes/admin/tracks/index.ts
  apps/web/src/components/admin/track-edit-dialog.tsx
  apps/web/src/components/ui/tag-input.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/routes/admin/_admin/tracks_.$id.tsx
  packages/search/src/queue.ts
Due: biome, check-types, lint-jsx-nesting

feat: トラック詳細画面にタグロック機能を追加
  apps/web/src/lib/api-client.ts
  apps/web/src/routes/admin/_admin/tracks_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

feat: トラック詳細画面にMeilisearch手動同期ボタンを追加
  apps/server/src/routes/admin/tracks/index.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/routes/admin/_admin/tracks_.$id.tsx
Due: biome, check-types, lint-jsx-nesting

fix: ジャンル・タグ更新時のMeilisearch同期を即時実行に変更
  apps/server/src/routes/admin/tracks/index.ts
Due: biome, check-types

feat: 詳細検索のタグフィルターを改善
  apps/web/src/components/search/TagFilter.tsx
Due: biome, check-types, lint-jsx-nesting

feat: 全トラック関連エンドポイントにMeilisearch即時同期を追加
  apps/server/src/routes/admin/tracks/derivations.ts
  apps/server/src/routes/admin/tracks/index.ts
  apps/server/src/routes/admin/tracks/isrcs.ts
  apps/server/src/routes/admin/tracks/official-songs.ts
  apps/server/src/routes/admin/tracks/publications.ts
Due: biome, check-types

fix: バッチ削除のMeilisearch同期を非同期化してテストタイムアウトを解消
  apps/server/src/routes/admin/tracks/index.ts
Due: biome, check-types

feat: トラック詳細画面の編集機能改善とMeilisearch同期強化 (#253)
  apps/server/src/routes/admin/tracks/derivations.ts
  apps/server/src/routes/admin/tracks/index.ts
  apps/server/src/routes/admin/tracks/isrcs.ts
  apps/server/src/routes/admin/tracks/official-songs.ts
  apps/server/src/routes/admin/tracks/publications.ts
  apps/web/src/components/admin/track-edit-dialog.tsx
  apps/web/src/components/search/TagFilter.tsx
  apps/web/src/components/ui/tag-input.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/routes/admin/_admin/tracks_.$id.tsx
  packages/search/src/queue.ts
Due: biome, check-types, lint-jsx-nesting

feat: Meilisearch停止時の同期スキップ機能を追加
  apps/server/src/routes/admin/releases/tracks.ts
  apps/server/src/routes/admin/tracks/index.ts
  packages/search/src/client.ts
  packages/search/src/hooks.ts
Due: biome, check-types

refactor: getIndexQueue().flush()をflushIndexQueue()に統一
  apps/server/src/routes/admin/tracks/derivations.ts
  apps/server/src/routes/admin/tracks/index.ts
  apps/server/src/routes/admin/tracks/isrcs.ts
  apps/server/src/routes/admin/tracks/official-songs.ts
  apps/server/src/routes/admin/tracks/publications.ts
Due: biome, check-types

feat: Meilisearch停止時の同期スキップ機能を追加 (#254)
  apps/server/src/routes/admin/releases/tracks.ts
  apps/server/src/routes/admin/tracks/derivations.ts
  apps/server/src/routes/admin/tracks/index.ts
  apps/server/src/routes/admin/tracks/isrcs.ts
  apps/server/src/routes/admin/tracks/official-songs.ts
  apps/server/src/routes/admin/tracks/publications.ts
  packages/search/src/client.ts
  packages/search/src/hooks.ts
Due: biome, check-types

feat: devbox開発環境を導入
  .claude/rules/devbox.md
  .envrc
  .gitignore
  README.md
  devbox.json
  devbox.lock
  process-compose.yaml
Due: biome

refactor: Makefileをdevboxデフォルトに変更
  Makefile
Due: none

fix: devbox環境でTursoを使用するよう修正
  .claude/rules/devbox.md
  devbox.json
  process-compose.yaml
Due: biome

feat: devbox開発環境を導入 (#255)
  .claude/rules/devbox.md
  .envrc
  .gitignore
  Makefile
  README.md
  devbox.json
  devbox.lock
  process-compose.yaml
Due: biome

fix(deps): update @tanstack/* packages
  apps/web/package.json
  bun.lock
  package.json
Due: biome

fix(deps): update @biomejs/biome to v2.3.13
  bun.lock
  package.json
Due: biome

fix(deps): update bun to v1.3.8
  bun.lock
  package.json
Due: biome

fix(deps): lefthookとturboを更新
  bun.lock
  package.json
Due: biome

fix(deps): update better-auth and zod
  bun.lock
  package.json
Due: biome

fix(deps): update hono and tsdown
  apps/server/package.json
  bun.lock
Due: biome

fix(deps): update react to v19.2.4
  apps/web/package.json
  bun.lock
Due: biome

fix(deps): update testing packages including jsdom v28
  apps/web/package.json
  bun.lock
Due: biome

fix(deps): update vite plugins
  apps/web/package.json
  bun.lock
Due: biome
